---
import MainLayout from "../layout/MainLayout.astro";
---

<<<<<<< HEAD
<MainLayout title="Open Book" class="mx-8">
=======
<MainLayout title="RMicrotik" class="mx-8">
>>>>>>> aderyq
  <div class="flex items-center justify-center text-white">
    <div
      class="w-full flex flex-col items-center justify-center gap-y-5 py-10 text-center max-w-lg"
    >
      <h1 class="text-2xl font-semibold">
        Bueno, esto es inesperado: has encontrado un lienzo en blanco.
      </h1>
      <h1 class="text-8xl font-black">404</h1>
      <p>
        Puedes encontrar casi cualquier cosa en Envato (aparentemente, incluso una página
        eso no existe). Mientras trabajamos para poner en marcha esta página y
        en funcionamiento, explorar el resto de nuestros activos: hay millones para
        elige entre!

      </p>
      <a
        class="inline-flex items-center justify-center font-medium transition-all duration-300 focus:outline-none focus:ring-2 focus:ring-offset-2 disabled:opacity-50 disabled:cursor-not-allowed bg-red-600 hover:bg-red-700 focus:ring-red-400 text-white px-4 py-2 text-sm rounded-lg w-full"
        href="/"
      >
        <span>Volver al inicio</span>
      </a>
    </div>
  </div>
</MainLayout>
