---
import Formulario from "../components/balanceo-ecmp/formulario";
import MainLayout from "../layout/MainLayout.astro";
import { getAuthData } from "../utils/auth";
import { nameApp } from "../utils/constants";
// Obtener los datos de la sesión y suscripción
const { session, subscription, shouldSignOut } = await getAuthData(
  Astro.request,
);

// Si necesita cerrar sesión, redirigir a logout
if (shouldSignOut) {
  return Astro.redirect("/logout?reason=expired");
}
---

<MainLayout title={nameApp}>
  <body
    class="bg-gray-900 text-white font-sans min-h-screen flex items-center justify-center"
  >
    <div class="bg-gray-800 rounded-lg shadow-lg p-6 mx-4 my-8">
      <!-- Contenido -->
      <!-- Header -->
      <h1 class="text-2xl font-bold text-orange-500 text-center mb-6">
        MikroTik ECMP / Generador de scripts ECMP de balanceo de carga para
        RouterOS
      </h1>

      <Formulario client:load session={session} subscription={subscription} />
    </div>
  </body>
</MainLayout>
