---
import MainLayout from "../layout/MainLayout.astro";
---

<MainLayout title="Open Book">
    <body>
        <div class="bg-gray-800 shadow-lg p-6">
            <!-- Contenido -->
            <!-- Header -->
            <!-- Título -->

            <div class="text-center mb-6">
                <h1 class="text-2xl lg:text-4xl font-bold text-blue-400">
                    <span class="text-white"> <strong>APÓYANOS CON UNA</strong></span> DONACIÓN
                </h1>

                <p class="text-gray-300 mt-4">
                    Tu ayuda nos permite seguir creando herramientas útiles para Mikrotik.
                </p>
            </div>
        </div>
        <div class="shadow-lg p-6 rounded-xl">
            <!-- Contenido inicio -->

            <div class="bg-gradient-to-br text-stone-800 flex flex-col">
                <!-- Sección de contacto -->
                <main
                    class="flex-grow flex items-center justify-center py-12 px-6"
                >
                    <div
                        class="bg-gray-600 bg-opacity-80 rounded-xl shadow-lg max-w-4xl w-full p-8 pb-10"
                    >
                        <div class="grid md:grid-cols-1 gap-8">
                            <!-- Formulario -->

                            <!-- Información de contacto -->
                            <body class="bg-gray-100 text-gray-800 font-sans">
                                <div class="max-w-3xl mx-auto p-6">
                                 

                                    <section
                                        class="bg-gray-800 rounded-2xl shadow-md p-6 mb-8"
                                    >
                                        <h2
                                            class="text-white text-2xl font-semibold mb-4"
                                        >
                                            ¿Te fue útil nuestro servicio
                                            Mikrotik?
                                        </h2>
                                        <p class="mb-3 text-white">
                                            Este sitio fue creado para ayudarte
                                            a configurar tu router Mikrotik de
                                            forma rápida y práctica, con scripts
                                            listos para copiar y pegar.
                                        </p>
                                        <p class="text-white">
                                            Nuestro objetivo es facilitarte el
                                            trabajo, sin complicaciones técnicas
                                            ni configuraciones eternas.
                                        </p>
                                    </section>

                                    <section
                                        class="bg-gray-800 rounded-2xl shadow-md p-6 mb-8"
                                    >
                                        <h2
                                            class="text-2xl font-semibold mb-4 text-white"
                                        >
                                            ¿Por qué donar?
                                        </h2>
                                        <ul
                                            class="list-disc list-inside space-y-2 text-white"
                                        >
                                            <li>
                                                Desarrollamos nuevos módulos
                                                constantemente
                                            </li>
                                            <li>
                                                Probamos configuraciones reales
                                                y actualizadas
                                            </li>
                                            <li>
                                                Creamos documentación práctica y
                                                guías
                                            </li>
                                            <li>
                                                Mantenemos todo optimizado con
                                                las versiones más recientes
                                            </li>
                                        </ul>
                                    </section>

                                    <section
                                        class="bg-gray-800 rounded-2xl shadow-md p-6 mb-8"
                                    >
                                        <h2
                                            class="text-2xl font-semibold mb-4 text-white"
                                        >
                                            Métodos para Donar
                                        </h2>
                                        <div class="space-y-4">
                                            <!-- PayPal -->

                                            <div
                                                class="grid grid-cols-1 lg:grid-cols-2 gap-6"
                                            >
                                                <div>
                                                    <h3 class="font-semibold">
                                                        PayPal
                                                    </h3>
                                                    <a
                                                        href="https://paypal.me/tunombre"
                                                        target="_blank"
                                                        class="inline-block mt-2 px-4 my-4 py-2 bg-blue-600 text-white rounded hover:bg-blue-700 transition"
                                                    >
                                                        Donar con PayPal
                                                    </a>

                                                    <!-- Transferencia / QR -->

                                                    <h3
                                                        class="font-semibold text-white"
                                                    >
                                                        Transferencia Bancaria /
                                                        Yape / Plin
                                                    </h3>
                                                    <p
                                                        class="text-white text-sm mt-1"
                                                    >
                                                        Cuenta: 000-123456789<br
                                                        />Nombre: Tu Nombre<br
                                                        />Banco: Banco XYZ
                                                    </p>
                                                </div>
                                                <!-- QR opcional -->
                                                <div>
                                                    <h3
                                                        class="font-semibold mt-4"
                                                    >
                                                        Escanea el QR:
                                                    </h3>
                                                    <img
                                                        src="qr_donacion.png"
                                                        alt="QR Donación"
                                                        class="w-40 mt-2 border rounded-lg"
                                                    />
                                                </div>
                                            </div>
                                        </div>
                                    </section>
                                </div>
                            </body>
                        </div>
                    </div>
                </main>
            </div>
            <!-- Fin de Iconos de Redes sociales -->
        </div>
    </body>
</MainLayout>

<!-- Contenido Fin -->

<!-- Contenido Fin Aqui para abajo es otro codigo q u se borrara -->
