---
import MainLayout from "../layout/MainLayout.astro";
---

<MainLayout title="RMicrotik">
    <body
        class="bg-gray-900 text-white font-sans min-h-screen flex items-center justify-center"
    >
        <div class="bg-gray-800 shadow-lg p-6">
            <!-- Contenido -->
            <!-- Header -->
            <!-- Título -->
            <div class="text-center mb-6">
                <div class="shadow-lg pb-8">
                    <h1 class="text-2xl lg:text-4xl font-bold text-blue-400">
                        <span class="text-white">
                            <strong>METODOS DE </strong></span
                        >
                        PAGO
                    </h1>

                    <p class="text-gray-300 mt-4">
                        Aceptamos diversos métodos de pago seguros y rápidos,
                        tanto en Perú como en otros países de Latinoamérica.
                        Elige el que más te convenga para realizar tus compras
                        sin complicaciones
                    </p>
                </div>
            </div>
        </div>
        <div class="bg-gray-800 shadow-lg p-6">
            <!-- Contenido inicio -->

            <div class="bg-gradient-to-br text-stone-800 flex flex-col">
                <!-- Sección de contacto -->
                <main
                    class="flex-grow flex items-center justify-center py-12 px-6"
                >
                    <div class="container mx-auto px-4 py-2">
                        <!-- modo Celular -->

                        <div class="block md:hidden">
                            <div
                                class=" bg-opacity-80 rounded-xl shadow-lg  "
                            >
                                <div class="mx-auto">
                                  

                                    <!-- MÉTODOS EN PERÚ -->
                                    <section class="mb-12">
                                        <h2
                                            class="text-2xl font-semibold text-gray-100 mb-4"
                                        >
                                            En Perú aceptamos:
                                        </h2>
                                        <div
                                            class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-4"
                                        >
                                            <div
                                                class="bg-white p-4 shadow rounded-lg"
                                            >
                                                <h3 class="font-semibold">
                                                    Depósito BCP
                                                </h3>
                                                <p
                                                    class="text-sm text-gray-600"
                                                >
                                                    Realiza depósitos o
                                                    transferencias desde
                                                    cualquier agencia o banca
                                                    por internet.
                                                </p>
                                            </div>
                                            <div
                                                class="bg-white p-4 shadow rounded-lg"
                                            >
                                                <h3 class="font-semibold">
                                                    Yape
                                                </h3>
                                                <p
                                                    class="text-sm text-gray-600"
                                                >
                                                    Pago inmediato escaneando
                                                    nuestro QR desde tu celular.
                                                </p>
                                            </div>
                                            <div
                                                class="bg-white p-4 shadow rounded-lg"
                                            >
                                                <h3 class="font-semibold">
                                                    Plin
                                                </h3>
                                                <p
                                                    class="text-sm text-gray-600"
                                                >
                                                    Transfiere al instante
                                                    usando tu número asociado en
                                                    Plin.
                                                </p>
                                            </div>
                                            <div
                                                class="bg-white p-4 shadow rounded-lg"
                                            >
                                                <h3 class="font-semibold">
                                                    Caja Huancayo
                                                </h3>
                                                <p
                                                    class="text-sm text-gray-600"
                                                >
                                                    Aceptamos transferencias y
                                                    depósitos desde esta caja
                                                    regional.
                                                </p>
                                            </div>
                                            <div
                                                class="bg-white p-4 shadow rounded-lg"
                                            >
                                                <h3 class="font-semibold">
                                                    Mercado Pago
                                                </h3>
                                                <p
                                                    class="text-sm text-gray-600"
                                                >
                                                    Paga de forma segura con tu
                                                    saldo o tarjeta vinculada.
                                                </p>
                                            </div>
                                            <div
                                                class="bg-white p-4 shadow rounded-lg"
                                            >
                                                <h3 class="font-semibold">
                                                    Interbank
                                                </h3>
                                                <p
                                                    class="text-sm text-gray-600"
                                                >
                                                    Realiza transferencias o
                                                    depósitos desde este banco
                                                    nacional.
                                                </p>
                                            </div>
                                        </div>
                                    </section>

                                    <!-- MÉTODOS INTERNACIONALES -->
                                    <section>
                                        <h2
                                            class="text-2xl font-semibold text-gray-100 mb-4"
                                        >
                                            🌎 Para Latinoamérica y otros
                                            países:
                                        </h2>
                                        <div
                                            class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-4"
                                        >
                                            <div
                                                class="bg-white p-4 shadow rounded-lg"
                                            >
                                                <h3 class="font-semibold">
                                                    PayPal
                                                </h3>
                                                <p
                                                    class="text-sm text-gray-600"
                                                >
                                                    Pago rápido y seguro con
                                                    tarjeta o cuenta PayPal.
                                                </p>
                                            </div>
                                            <div
                                                class="bg-white p-4 shadow rounded-lg"
                                            >
                                                <h3 class="font-semibold">
                                                    Visa
                                                </h3>
                                                <p
                                                    class="text-sm text-gray-600"
                                                >
                                                    Aceptamos pagos con
                                                    cualquier tarjeta Visa
                                                    internacional.
                                                </p>
                                            </div>
                                            <div
                                                class="bg-white p-4 shadow rounded-lg"
                                            >
                                                <h3 class="font-semibold">
                                                    Mercado Pago
                                                </h3>
                                                <p
                                                    class="text-sm text-gray-600"
                                                >
                                                    Disponible para varios
                                                    países de Latinoamérica.
                                                </p>
                                            </div>
                                            <div
                                                class="bg-white p-4 shadow rounded-lg"
                                            >
                                                <h3 class="font-semibold">
                                                    Binance
                                                </h3>
                                                <p
                                                    class="text-sm text-gray-600"
                                                >
                                                    Transferencia con
                                                    criptomonedas a través de
                                                    Binance.
                                                </p>
                                            </div>
                                            <div
                                                class="bg-white p-4 shadow rounded-lg"
                                            >
                                                <h3 class="font-semibold">
                                                    Western Union
                                                </h3>
                                                <p
                                                    class="text-sm text-gray-600"
                                                >
                                                    Envía tu pago desde
                                                    cualquier país por Western
                                                    Union.
                                                </p>
                                            </div>
                                        </div>
                                    </section>
                                </div>
                            </div>
                        </div>
                        <!-- modo Celular  FIN-->
                        <!-- modo Modo Tables y Pantallas mas Grande -->
                        <div class="hidden md:block">
                            
                            <div class="max-w-4xl mx-auto px-4 ">
                                <!-- MÉTODOS EN PERÚ -->
                                <section class="mb-12">
                                    <h2
                                        class="text-2xl font-semibold text-gray-100 mb-4"
                                    >
                                        En Perú aceptamos:
                                    </h2>
                                    <div
                                        class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-4"
                                    >
                                        <div
                                            class="bg-white p-4 shadow rounded-lg"
                                        >
                                            <h3 class="font-semibold">
                                                Depósito BCP
                                            </h3>
                                            <p class="text-sm text-gray-600">
                                                Realiza depósitos o
                                                transferencias desde cualquier
                                                agencia o banca por internet.
                                            </p>
                                        </div>
                                        <div
                                            class="bg-white p-4 shadow rounded-lg"
                                        >
                                            <h3 class="font-semibold">Yape</h3>
                                            <p class="text-sm text-gray-600">
                                                Pago inmediato escaneando
                                                nuestro QR desde tu celular.
                                            </p>
                                        </div>
                                        <div
                                            class="bg-white p-4 shadow rounded-lg"
                                        >
                                            <h3 class="font-semibold">Plin</h3>
                                            <p class="text-sm text-gray-600">
                                                Transfiere al instante usando tu
                                                número asociado en Plin.
                                            </p>
                                        </div>
                                        <div
                                            class="bg-white p-4 shadow rounded-lg"
                                        >
                                            <h3 class="font-semibold">
                                                Caja Huancayo
                                            </h3>
                                            <p class="text-sm text-gray-600">
                                                Aceptamos transferencias y
                                                depósitos desde esta caja
                                                regional.
                                            </p>
                                        </div>
                                        <div
                                            class="bg-white p-4 shadow rounded-lg"
                                        >
                                            <h3 class="font-semibold">
                                                Mercado Pago
                                            </h3>
                                            <p class="text-sm text-gray-600">
                                                Paga de forma segura con tu
                                                saldo o tarjeta vinculada.
                                            </p>
                                        </div>
                                        <div
                                            class="bg-white p-4 shadow rounded-lg"
                                        >
                                            <h3 class="font-semibold">
                                                Interbank
                                            </h3>
                                            <p class="text-sm text-gray-600">
                                                Realiza transferencias o
                                                depósitos desde este banco
                                                nacional.
                                            </p>
                                        </div>
                                    </div>
                                </section>

                                <!-- MÉTODOS INTERNACIONALES -->
                                <section>
                                    <h2
                                        class="text-2xl font-semibold text-gray-100 mb-4"
                                    >
                                        Para Latinoamérica y otros países:
                                    </h2>
                                    <div
                                        class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-4"
                                    >
                                        <div
                                            class="bg-white p-4 shadow rounded-lg"
                                        >
                                            <h3 class="font-semibold">
                                                PayPal
                                            </h3>
                                            <p class="text-sm text-gray-600">
                                                Pago rápido y seguro con tarjeta
                                                o cuenta PayPal.
                                            </p>
                                        </div>
                                        <div
                                            class="bg-white p-4 shadow rounded-lg"
                                        >
                                            <h3 class="font-semibold">Visa</h3>
                                            <p class="text-sm text-gray-600">
                                                Aceptamos pagos con cualquier
                                                tarjeta Visa internacional.
                                            </p>
                                        </div>
                                        <div
                                            class="bg-white p-4 shadow rounded-lg"
                                        >
                                            <h3 class="font-semibold">
                                                Mercado Pago
                                            </h3>
                                            <p class="text-sm text-gray-600">
                                                Disponible para varios países de
                                                Latinoamérica.
                                            </p>
                                        </div>
                                        <div
                                            class="bg-white p-4 shadow rounded-lg"
                                        >
                                            <h3 class="font-semibold">
                                                Binance
                                            </h3>
                                            <p class="text-sm text-gray-600">
                                                Transferencia con criptomonedas
                                                a través de Binance.
                                            </p>
                                        </div>
                                        <div
                                            class="bg-white p-4 shadow rounded-lg"
                                        >
                                            <h3 class="font-semibold">
                                                Western Union
                                            </h3>
                                            <p class="text-sm text-gray-600">
                                                Envía tu pago desde cualquier
                                                país por Western Union.
                                            </p>
                                        </div>
                                    </div>
                                </section>
                            </div>

                            <!-- Iconos de Redes Sociales -->

                            <div
                                class="shadow-lg rounded-xl p-3 transition delay-150 duration-300 ease-in-out hover:-translate-y-1 hover:scale-110 hover:bg-slate-700 flex items-center justify-center "
                            >
                                <div
                                    class="mt-2 flex items-center space-x-4 opacity-80"
                                >
                                    <a
                                        href="#"
                                        class="text-gray-400 hover:text-blue-500 hover:shadow-lg rounded-lg transition-all duration-300 transform hover:-translate-y-1 flex items-center gap-2"
                                    >
                                        <svg
                                            xmlns="http://www.w3.org/2000/svg"
                                            class="h-6 w-6"
                                            fill="currentColor"
                                            viewBox="0 0 24 24"
                                            ><path
                                                d="M24 4.557c-.883.392-1.83.656-2.825.775 1.014-.608 1.794-1.57 2.163-2.723-.951.564-2.005.974-3.127 1.195-.897-.954-2.178-1.548-3.594-1.548-2.717 0-4.918 2.2-4.918 4.917 0 .386.044.762.128 1.124-4.086-.205-7.713-2.161-10.14-5.134-.424.729-.666 1.577-.666 2.482 0 1.71.87 3.223 2.191 4.107-.807-.026-1.566-.247-2.228-.616v.062c0 2.388 1.697 4.374 3.946 4.827-.413.111-.849.171-1.296.171-.318 0-.626-.031-.929-.089.631 1.965 2.457 3.392 4.617 3.43-1.692 1.327-3.826 2.117-6.145 2.117-.399 0-.793-.023-1.182-.069 2.192 1.406 4.797 2.229 7.597 2.229 9.112 0 14.093-7.545 14.093-14.094 0-.213-.005-.426-.014-.637.967-.697 1.8-1.562 2.462-2.548z"
                                            ></path></svg
                                        >
                                    </a>

                                    <a
                                        href="#"
                                        class="text-gray-400 hover:text-red-600 hover:shadow-lg rounded-lg transition-all duration-300 transform hover:-translate-y-1 flex items-center gap-2"
                                    >
                                        <svg
                                            xmlns="http://www.w3.org/2000/svg"
                                            class="h-6 w-6"
                                            fill="currentColor"
                                            viewBox="0 0 24 24"
                                            ><path
                                                d="M12 0c-6.63 0-12 5.37-12 12 0 5.3 3.44 9.8 8.21 11.39-.11-.98-.21-2.5.05-3.58.22-.95 1.41-6.07 1.41-6.07s-.36-.73-.36-1.8c0-1.69.98-2.95 2.21-2.95 1.04 0 1.54.78 1.54 1.72 0 1.04-.66 2.6-.99 4.04-.29 1.21.61 2.19 1.81 2.19 2.17 0 3.84-2.29 3.84-5.6 0-2.93-2.1-4.97-5.11-4.97-3.48 0-5.52 2.6-5.52 5.29 0 1.04.4 2.16.91 2.76.1.12.11.23.08.35-.09.38-.29 1.23-.33 1.41-.05.22-.18.27-.42.16-1.56-.7-2.53-2.88-2.53-4.64 0-3.76 2.73-7.23 7.87-7.23 4.12 0 7.31 2.95 7.31 6.89 0 4.09-2.58 7.38-6.16 7.38-1.2 0-2.32-.63-2.71-1.37l-.73 2.79c-.26 1-.96 2.25-1.43 3.01 1.07.33 2.2.51 3.38.51 6.63 0 12-5.37 12-12s-5.37-12-12-12z"
                                            ></path></svg
                                        >
                                    </a>

                                    <a
                                        href=""
                                        class="text-gray-400 hover:text-indigo-100 hover:shadow-lg rounded-lg transition-all duration-300 transform hover:-translate-y-1 flex items-center gap-2"
                                    >
                                        <svg
                                            xmlns="http://www.w3.org/2000/svg"
                                            xmlns:xlink="http://www.w3.org/1999/xlink"
                                            viewBox="0 0 48 48"
                                            fill="currentColor"
                                            class="w-8 h-8 mx-auto"
                                        >
                                            <path
                                                d="M41,14.4v5.3c-4.3,0-8.2-1.6-11.2-4.3v14.8c0,7-5.7,12.7-12.7,12.7S4.4,37.2,4.4,30.2s5.7-12.7,12.7-12.7
                                                       c1.2,0,2.4,0.2,3.5,0.5v6c-0.9-0.5-2-0.8-3.1-0.8c-3.6,0-6.5,2.9-6.5,6.5s2.9,6.5,6.5,6.5s6.5-2.9,6.5-6.5V4.4H29
                                                        c0.9,4.9,5.2,8.6,10.3,8.6H41z"
                                            ></path>
                                        </svg>
                                    </a>

                                    <a
                                        href=""
                                        class="text-gray-400 hover:text-rose-400 hover:shadow-lg rounded-lg transition-all duration-300 transform hover:-translate-y-1 flex items-center gap-2"
                                    >
                                        <svg
                                            xmlns="http://www.w3.org/2000/svg"
                                            xmlns:xlink="http://www.w3.org/1999/xlink"
                                            viewBox="0 0 48 48"
                                            fill="currentColor"
                                            class="w-8 h-8 mx-auto"
                                        >
                                            <path
                                                d="M24,16.3c-4.3,0-7.7,3.5-7.7,7.7s3.5,7.7,7.7,7.7s7.7-3.5,7.7-7.7S28.3,16.3,24,16.3z M24,29c-2.8,0-5-2.3-5-5
                                            s2.3-5,5-5s5,2.3,5,5S26.8,29,24,29z"
                                            ></path>
                                            <path
                                                d="M31.5,15.1c0,1-0.8,1.8-1.8,1.8S28,16.1,28,15.1s0.8-1.8,1.8-1.8S31.5,14.1,31.5,15.1z"
                                            ></path>
                                            <path
                                                d="M24,9.4c-4.8,0-5.4,0-7.3,0.1c-1.9,0.1-3.2,0.4-4.3,0.9c-1.2,0.5-2.2,1.2-3.2,2.2c-1,1-1.7,2-2.2,3.2
                                            c-0.5,1.1-0.8,2.4-0.9,4.3C6,22.9,6,23.5,6,28.3s0,5.4,0.1,7.3c0.1,1.9,0.4,3.2,0.9,4.3c0.5,1.2,1.2,2.2,2.2,3.2
                                            c1,1,2,1.7,3.2,2.2c1.1,0.5,2.4,0.8,4.3,0.9C18.6,46,19.2,46,24,46s5.4,0,7.3-0.1c1.9-0.1,3.2-0.4,4.3-0.9c1.2-0.5,2.2-1.2,3.2-2.2
                                            c1-1,1.7-2,2.2-3.2c0.5-1.1,0.8-2.4,0.9-4.3C42,33.7,42,33.1,42,28.3s0-5.4-0.1-7.3c-0.1-1.9-0.4-3.2-0.9-4.3
                                            c-0.5-1.2-1.2-2.2-2.2-3.2c-1-1-2-1.7-3.2-2.2c-1.1-0.5-2.4-0.8-4.3-0.9C29.4,9.4,28.8,9.4,24,9.4z M24,12c4.7,0,5.3,0,7.2,0.1
                                            c1.7,0.1,2.7,0.4,3.3,0.7c0.8,0.3,1.4,0.7,2,1.3c0.6,0.6,1,1.2,1.3,2c0.3,0.6,0.6,1.6,0.7,3.3c0.1,1.9,0.1,2.5,0.1,7.2
                                            s0,5.3-0.1,7.2c-0.1,1.7-0.4,2.7-0.7,3.3c-0.3,0.8-0.7,1.4-1.3,2c-0.6,0.6-1.2,1-2,1.3c-0.6,0.3-1.6,0.6-3.3,0.7
                                            c-1.9,0.1-2.5,0.1-7.2,0.1s-5.3,0-7.2-0.1c-1.7-0.1-2.7-0.4-3.3-0.7c-0.8-0.3-1.4-0.7-2-1.3c-0.6-0.6-1-1.2-1.3-2
                                            c-0.3-0.6-0.6-1.6-0.7-3.3c-0.1-1.9-0.1-2.5-0.1-7.2s0-5.3,0.1-7.2c0.1-1.7,0.4-2.7,0.7-3.3c0.3-0.8,0.7-1.4,1.3-2
                                            c0.6-0.6,1.2-1,2-1.3c0.6-0.3,1.6-0.6,3.3-0.7C18.7,12,19.3,12,24,12z"
                                            ></path></svg
                                        >
                                    </a>
                                    <a
                                        href=""
                                        class="text-gray-400 hover:text-indigo-400 hover:shadow-lg rounded-lg transition-all duration-300 transform hover:-translate-y-1 flex items-center gap-2"
                                    >
                                        <svg
                                            xmlns="http://www.w3.org/2000/svg"
                                            xmlns:xlink="http://www.w3.org/1999/xlink"
                                            viewBox="0 0 48 48"
                                            fill="currentColor"
                                            class="w-8 h-8 mx-auto"
                                        >
                                            <path
                                                d="M42,4H6C4.9,4,4,4.9,4,6v36c0,1.1,0.9,2,2,2h36c1.1,0,2-0.9,2-2V6C44,4.9,43.1,4,42,4z M17,36h-5V20h5V36z M14.5,17.6
                                            c-1.6,0-2.7-1.2-2.7-2.6c0-1.5,1.1-2.6,2.8-2.6c1.7,0,2.7,1.1,2.8,2.6C17.4,16.4,16.2,17.6,14.5,17.6z M37,36h-5v-8.5
                                            c0-2.1-0.8-3.5-2.7-3.5c-1.5,0-2.3,1-2.7,2c-0.1,0.3-0.1,0.8-0.1,1.2V36h-5c0,0,0.1-13.4,0-16h5v2.3c0.7-1.1,2-2.7,4.9-2.7
                                            c3.6,0,6.3,2.4,6.3,7.5V36z"
                                            ></path></svg
                                        >
                                    </a>
                                    <a
                                        href=""
                                        class="text-gray-400 hover:text-blue-500 hover:shadow-lg rounded-lg transition-all duration-300 transform hover:-translate-y-1 flex items-center gap-2"
                                    >
                                        <svg
                                            xmlns="http://www.w3.org/2000/svg"
                                            xmlns:xlink="http://www.w3.org/1999/xlink"
                                            viewBox="0 0 48 48"
                                            fill="currentColor"
                                            class="w-8 h-8 mx-auto"
                                        >
                                            <path
                                                d="M24,4C12.95,4,4,12.95,4,24c0,9.94,7.25,18.15,16.69,19.73V30.89h-5.02V24h5.02v-4.84c0-4.96,2.96-7.7,7.49-7.7
                                            c2.17,0,4.45,0.39,4.45,0.39v4.89h-2.51c-2.47,0-3.24,1.54-3.24,3.12V24h5.52l-0.88,6.89h-4.64v12.84C36.75,42.15,44,33.94,44,24
                                            C44,12.95,35.05,4,24,4z"
                                            ></path></svg
                                        >
                                    </a>
                                    <a
                                        href=""
                                        class="text-gray-400 hover:text-red-600 hover:shadow-lg rounded-lg transition-all duration-300 transform hover:-translate-y-1 flex items-center gap-2"
                                    >
                                        <svg
                                            xmlns="http://www.w3.org/2000/svg"
                                            xmlns:xlink="http://www.w3.org/1999/xlink"
                                            viewBox="0 0 48 48"
                                            fill="currentColor"
                                            class="w-8 h-8 mx-auto"
                                        >
                                            <path
                                                d="M43.6,14.5c-0.5-1.9-2-3.4-3.9-3.9C36.6,10,24,10,24,10s-12.6,0-15.7,0.6c-1.9,0.5-3.4,2-3.9,3.9C4,17.6,4,24,4,24
                                            s0,6.4,0.5,9.5c0.5,1.9,2,3.4,3.9,3.9C11.4,38,24,38,24,38s12.6,0,15.7-0.6c1.9-0.5,3.4-2,3.9-3.9C44,30.4,44,24,44,24
                                            S44,17.6,43.6,14.5z M20,29V19l10,5L20,29z"
                                            ></path></svg
                                        >
                                    </a>
                                    <a
                                        href="https://wa.me/51930327563"
                                        target="_blank"
                                        class="text-gray-400 hover:text-green-400 hover:shadow-lg rounded-lg transition-all duration-300 transform hover:-translate-y-1 flex items-center gap-2"
                                    >
                                        <svg
                                            xmlns="http://www.w3.org/2000/svg"
                                            xmlns:xlink="http://www.w3.org/1999/xlink"
                                            viewBox="0 0 48 48"
                                            fill="currentColor"
                                            class="w-8 h-8 mx-auto"
                                        >
                                            <path
                                                d="M4.6,43.4l3.6-13.1C6.6,27.4,5.5,24.8,5.5,22c0-10.2,8.3-18.5,18.5-18.5S42.5,11.8,42.5,22S34.2,40.5,24,40.5
                                            c-2.5,0-4.9-0.5-7.2-1.5L4.6,43.4z M11.2,35.5l0.8,0.5c2.1,1.3,4.4,2,6.9,2c8,0,14.5-6.5,14.5-14.5S26.9,9,19,9S4.5,15.5,4.5,22.5
                                            c0,2.3,0.6,4.5,1.7,6.5l0.5,0.9l-2.2,8l8.2-2.4L11.2,35.5z M18.2,17.5c0.3-0.7,0.5-1.4,0.3-2c-0.2-0.5-0.9-0.9-1.4-1.1
                                            c-0.3-0.1-0.7-0.1-1.1,0c-1.3,0.5-2.2,2.4-2.1,3.7c0.1,1,0.4,1.9,0.9,2.7c1.1,2,2.8,3.6,4.8,4.6c1.2,0.6,2.2,0.8,3.5,0.9
                                            c1.3,0,2.3-0.9,2.7-2.1c0.1-0.4,0.1-0.7,0-1.1c-0.2-0.5-0.5-1.2-1-1.4c-0.7-0.3-1.3-0.1-2,0.2c-0.2,0.1-0.4,0.2-0.6,0.2
                                            c-0.4-0.2-1.2-0.6-2.1-1.4c-0.7-0.6-1.3-1.3-1.6-2c0.4-0.3,0.6-0.5,0.9-0.9C17.9,18.2,18.1,17.8,18.2,17.5z"
                                            ></path></svg
                                        >
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </main>
            </div>

            <div class="block md:hidden">
                <div
                    class="grid grid-cols-8 gap-4 sm:grid-cols-3 md:grid-cols-2 mt-2 items-center space-x-4 opacity-80"
                >
                    <div class="mt-2 flex items-center space-x-4 opacity-80">
                        <a
                            href=""
                            class="text-gray-400 hover:text-indigo-100 hover:shadow-lg rounded-lg transition-all duration-300 transform hover:-translate-y-1 flex items-center gap-2"
                        >
                            <svg
                                xmlns="http://www.w3.org/2000/svg"
                                xmlns:xlink="http://www.w3.org/1999/xlink"
                                viewBox="0 0 48 48"
                                fill="currentColor"
                                class="w-8 h-8 mx-auto"
                            >
                                <path
                                    d="M41,14.4v5.3c-4.3,0-8.2-1.6-11.2-4.3v14.8c0,7-5.7,12.7-12.7,12.7S4.4,37.2,4.4,30.2s5.7-12.7,12.7-12.7
                   c1.2,0,2.4,0.2,3.5,0.5v6c-0.9-0.5-2-0.8-3.1-0.8c-3.6,0-6.5,2.9-6.5,6.5s2.9,6.5,6.5,6.5s6.5-2.9,6.5-6.5V4.4H29
                    c0.9,4.9,5.2,8.6,10.3,8.6H41z"
                                ></path>
                            </svg>
                        </a>

                        <a
                            href=""
                            class="text-gray-400 hover:text-rose-400 hover:shadow-lg rounded-lg transition-all duration-300 transform hover:-translate-y-1 flex items-center gap-2"
                        >
                            <svg
                                xmlns="http://www.w3.org/2000/svg"
                                xmlns:xlink="http://www.w3.org/1999/xlink"
                                viewBox="0 0 48 48"
                                fill="currentColor"
                                class="w-8 h-8 mx-auto"
                            >
                                <path
                                    d="M24,16.3c-4.3,0-7.7,3.5-7.7,7.7s3.5,7.7,7.7,7.7s7.7-3.5,7.7-7.7S28.3,16.3,24,16.3z M24,29c-2.8,0-5-2.3-5-5
        s2.3-5,5-5s5,2.3,5,5S26.8,29,24,29z"
                                ></path>
                                <path
                                    d="M31.5,15.1c0,1-0.8,1.8-1.8,1.8S28,16.1,28,15.1s0.8-1.8,1.8-1.8S31.5,14.1,31.5,15.1z"
                                ></path>
                                <path
                                    d="M24,9.4c-4.8,0-5.4,0-7.3,0.1c-1.9,0.1-3.2,0.4-4.3,0.9c-1.2,0.5-2.2,1.2-3.2,2.2c-1,1-1.7,2-2.2,3.2
        c-0.5,1.1-0.8,2.4-0.9,4.3C6,22.9,6,23.5,6,28.3s0,5.4,0.1,7.3c0.1,1.9,0.4,3.2,0.9,4.3c0.5,1.2,1.2,2.2,2.2,3.2
        c1,1,2,1.7,3.2,2.2c1.1,0.5,2.4,0.8,4.3,0.9C18.6,46,19.2,46,24,46s5.4,0,7.3-0.1c1.9-0.1,3.2-0.4,4.3-0.9c1.2-0.5,2.2-1.2,3.2-2.2
        c1-1,1.7-2,2.2-3.2c0.5-1.1,0.8-2.4,0.9-4.3C42,33.7,42,33.1,42,28.3s0-5.4-0.1-7.3c-0.1-1.9-0.4-3.2-0.9-4.3
        c-0.5-1.2-1.2-2.2-2.2-3.2c-1-1-2-1.7-3.2-2.2c-1.1-0.5-2.4-0.8-4.3-0.9C29.4,9.4,28.8,9.4,24,9.4z M24,12c4.7,0,5.3,0,7.2,0.1
        c1.7,0.1,2.7,0.4,3.3,0.7c0.8,0.3,1.4,0.7,2,1.3c0.6,0.6,1,1.2,1.3,2c0.3,0.6,0.6,1.6,0.7,3.3c0.1,1.9,0.1,2.5,0.1,7.2
        s0,5.3-0.1,7.2c-0.1,1.7-0.4,2.7-0.7,3.3c-0.3,0.8-0.7,1.4-1.3,2c-0.6,0.6-1.2,1-2,1.3c-0.6,0.3-1.6,0.6-3.3,0.7
        c-1.9,0.1-2.5,0.1-7.2,0.1s-5.3,0-7.2-0.1c-1.7-0.1-2.7-0.4-3.3-0.7c-0.8-0.3-1.4-0.7-2-1.3c-0.6-0.6-1-1.2-1.3-2
        c-0.3-0.6-0.6-1.6-0.7-3.3c-0.1-1.9-0.1-2.5-0.1-7.2s0-5.3,0.1-7.2c0.1-1.7,0.4-2.7,0.7-3.3c0.3-0.8,0.7-1.4,1.3-2
        c0.6-0.6,1.2-1,2-1.3c0.6-0.3,1.6-0.6,3.3-0.7C18.7,12,19.3,12,24,12z"
                                ></path></svg
                            >
                        </a>
                        <a
                            href=""
                            class="text-gray-400 hover:text-indigo-400 hover:shadow-lg rounded-lg transition-all duration-300 transform hover:-translate-y-1 flex items-center gap-2"
                        >
                            <svg
                                xmlns="http://www.w3.org/2000/svg"
                                xmlns:xlink="http://www.w3.org/1999/xlink"
                                viewBox="0 0 48 48"
                                fill="currentColor"
                                class="w-8 h-8 mx-auto"
                            >
                                <path
                                    d="M42,4H6C4.9,4,4,4.9,4,6v36c0,1.1,0.9,2,2,2h36c1.1,0,2-0.9,2-2V6C44,4.9,43.1,4,42,4z M17,36h-5V20h5V36z M14.5,17.6
        c-1.6,0-2.7-1.2-2.7-2.6c0-1.5,1.1-2.6,2.8-2.6c1.7,0,2.7,1.1,2.8,2.6C17.4,16.4,16.2,17.6,14.5,17.6z M37,36h-5v-8.5
        c0-2.1-0.8-3.5-2.7-3.5c-1.5,0-2.3,1-2.7,2c-0.1,0.3-0.1,0.8-0.1,1.2V36h-5c0,0,0.1-13.4,0-16h5v2.3c0.7-1.1,2-2.7,4.9-2.7
        c3.6,0,6.3,2.4,6.3,7.5V36z"
                                ></path></svg
                            >
                        </a>
                        <a
                            href=""
                            class="text-gray-400 hover:text-blue-500 hover:shadow-lg rounded-lg transition-all duration-300 transform hover:-translate-y-1 flex items-center gap-2"
                        >
                            <svg
                                xmlns="http://www.w3.org/2000/svg"
                                xmlns:xlink="http://www.w3.org/1999/xlink"
                                viewBox="0 0 48 48"
                                fill="currentColor"
                                class="w-8 h-8 mx-auto"
                            >
                                <path
                                    d="M24,4C12.95,4,4,12.95,4,24c0,9.94,7.25,18.15,16.69,19.73V30.89h-5.02V24h5.02v-4.84c0-4.96,2.96-7.7,7.49-7.7
        c2.17,0,4.45,0.39,4.45,0.39v4.89h-2.51c-2.47,0-3.24,1.54-3.24,3.12V24h5.52l-0.88,6.89h-4.64v12.84C36.75,42.15,44,33.94,44,24
        C44,12.95,35.05,4,24,4z"
                                ></path></svg
                            >
                        </a>
                        <a
                            href=""
                            class="text-gray-400 hover:text-red-600 hover:shadow-lg rounded-lg transition-all duration-300 transform hover:-translate-y-1 flex items-center gap-2"
                        >
                            <svg
                                xmlns="http://www.w3.org/2000/svg"
                                xmlns:xlink="http://www.w3.org/1999/xlink"
                                viewBox="0 0 48 48"
                                fill="currentColor"
                                class="w-8 h-8 mx-auto"
                            >
                                <path
                                    d="M43.6,14.5c-0.5-1.9-2-3.4-3.9-3.9C36.6,10,24,10,24,10s-12.6,0-15.7,0.6c-1.9,0.5-3.4,2-3.9,3.9C4,17.6,4,24,4,24
        s0,6.4,0.5,9.5c0.5,1.9,2,3.4,3.9,3.9C11.4,38,24,38,24,38s12.6,0,15.7-0.6c1.9-0.5,3.4-2,3.9-3.9C44,30.4,44,24,44,24
        S44,17.6,43.6,14.5z M20,29V19l10,5L20,29z"
                                ></path></svg
                            >
                        </a>
                        <a
                            href="https://wa.me/51930327563"
                            target="_blank"
                            class="text-gray-400 hover:text-green-400 hover:shadow-lg rounded-lg transition-all duration-300 transform hover:-translate-y-1 flex items-center gap-2"
                        >
                            <svg
                                xmlns="http://www.w3.org/2000/svg"
                                xmlns:xlink="http://www.w3.org/1999/xlink"
                                viewBox="0 0 48 48"
                                fill="currentColor"
                                class="w-8 h-8 mx-auto"
                            >
                                <path
                                    d="M4.6,43.4l3.6-13.1C6.6,27.4,5.5,24.8,5.5,22c0-10.2,8.3-18.5,18.5-18.5S42.5,11.8,42.5,22S34.2,40.5,24,40.5
        c-2.5,0-4.9-0.5-7.2-1.5L4.6,43.4z M11.2,35.5l0.8,0.5c2.1,1.3,4.4,2,6.9,2c8,0,14.5-6.5,14.5-14.5S26.9,9,19,9S4.5,15.5,4.5,22.5
        c0,2.3,0.6,4.5,1.7,6.5l0.5,0.9l-2.2,8l8.2-2.4L11.2,35.5z M18.2,17.5c0.3-0.7,0.5-1.4,0.3-2c-0.2-0.5-0.9-0.9-1.4-1.1
        c-0.3-0.1-0.7-0.1-1.1,0c-1.3,0.5-2.2,2.4-2.1,3.7c0.1,1,0.4,1.9,0.9,2.7c1.1,2,2.8,3.6,4.8,4.6c1.2,0.6,2.2,0.8,3.5,0.9
        c1.3,0,2.3-0.9,2.7-2.1c0.1-0.4,0.1-0.7,0-1.1c-0.2-0.5-0.5-1.2-1-1.4c-0.7-0.3-1.3-0.1-2,0.2c-0.2,0.1-0.4,0.2-0.6,0.2
        c-0.4-0.2-1.2-0.6-2.1-1.4c-0.7-0.6-1.3-1.3-1.6-2c0.4-0.3,0.6-0.5,0.9-0.9C17.9,18.2,18.1,17.8,18.2,17.5z"
                                ></path></svg
                            >
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </body>
</MainLayout>

<!-- modo Modo Tables y Pantallas mas FIN -->

<!-- Contenido Fin -->

<!-- Contenido Fin Aqui para abajo es otro codigo q u se borrara -->
