---
import FormularioBackupToEmail from "../components/mikrotik-backup-to-email/Formulario";
import MainLayout from "../layout/MainLayout.astro";
---

<MainLayout title="Open Book">
  <body
    class="bg-gray-900 text-white font-sans min-h-screen flex items-center justify-center"
  >
    <div class="bg-gray-800 rounded-lg shadow-lg p-6 mx-4 my-8">
      <!-- Contenido -->
      <!-- Header -->
      <!-- Título -->
      <div class="text-center mb-6">
        <h1 class="text-2xl lg:text-4xl font-bold text-orange-500">
          MIKROTIK AUTO BACKUP TO E-MAIL GENERATOR
        </h1>
        <p class="text-gray-300 mt-4">
          Port TCP/UDP Static Routing. ¡Fácil, rápido y efectivo! 🚀
        </p>
      </div>
    </div>
    <div class="bg-gray-800 rounded-lg shadow-lg p-6 mx-4 my-8">
      <!-- Contenido inicio -->

      <div class="container mx-auto px-4">
        <FormularioBackupToEmail client:load />
        <p class="text-2sm text-orange-500 mx-6">
          CREATE YOUR OWN GMAIL SERVER :
        </p>
        <p class="text-gray-400 mx-8">
          1. First go here https://myaccount.google.com/security then follow the instructions to activate 2-step verification, then a code will be sent to your cellphone number.<br>
          2. Then create an application password here https://myaccount.google.com/apppasswords later this password will be used to input the Mikrotik mail server. 
        </p>
        <div class="bg-gray-700 p-4 rounded-lg mt-6 mb-4 mx-8">
          <p class="text-sm text-gray-300">
            Tenemos un video tutorial de como utilizar nuestra herramienta, Ver
            Video...
          </p>
        </div>
      </div>

      <!-- Contenido Fin -->
    </div>

    <!-- Contenido Fin Aqui para abajo es otro codigo q u se borrara -->
  </body>
</MainLayout>
