---
import MainLayout from "../layout/MainLayout.astro";
---

<MainLayout title="Open Book">
    <body
        class="bg-gray-900 text-white font-sans min-h-screen flex items-center justify-center"
    >
        <div class="bg-gray-800 rounded-lg shadow-lg p-6 mx-4 my-8">
            <!-- Contenido -->
            <!-- Header -->
            <!-- Título -->
            <div class="text-center mb-6">
                <h1 class="text-2xl lg:text-4xl font-bold text-orange-500">
                    MIKROTIK PPP SECRETS USERNAME PASSWORD GENERATOR
                </h1>
                <p class="text-gray-300">
                    Static Routes and Firewall Mangle Rules for Games
                </p>
            </div>
        </div>
        <div class="bg-gray-800 rounded-lg shadow-lg p-6 mx-4 my-8">
            <!-- Contenido inicio -->

            <div class="container mx-auto p-6 bg-gray-800 rounded-lg shadow-lg">
                <!-- Título -->

                <!-- Formulario Principal -->
                <form class="grid grid-cols-1 lg:grid-cols-2 gap-6">
                    <!-- Columna Izquierda -->
                    <!-- Contenedor borde azul -->

                    <div class="space-y-6">
                        <!-- Selección de RouterOS -->
                        <div
                            class="text-gray-950 shadow-2xl rounded-lg p-6 w-full ring-2 ring-blue-500"
                        >
                            <!-- Gateway del ISP -->
                            <div
                                class="text-gray-950 shadow-2xl rounded-lg p-2 w-full ring-2 ring-slate-600 mt-4"
                            >
                                <div>
                                    <label
                                        for="gateway"
                                        class="block font-semibold text-gray-300 mb-2 mt-4"
                                        >Qty User Hotspot
                                    </label>
                                    <input
                                        id="gateway"
                                        type="text"
                                        placeholder="100"
                                        class="w-full p-2 rounded bg-gray-700 text-white focus:outline-none focus:ring-2 focus:ring-orange-500"
                                    />
                                </div>

                                <!-- Gateway del ISP -->
                                <div>
                                    <label
                                        for="gateway"
                                        class="block font-semibold text-gray-300 mb-2 mt-4"
                                        >Profile Hotspot</label
                                    >
                                    <input
                                        id="gateway"
                                        type="text"
                                        placeholder="default"
                                        class="w-full p-2 rounded bg-gray-700 text-white focus:outline-none focus:ring-2 focus:ring-orange-500"
                                    />
                                </div>
                                <!-- Gateway del ISP -->
                                <div>
                                    <label
                                        for="gateway"
                                        class="block font-semibold text-gray-300 mb-2 mt-4"
                                        >Rate Limit [up/down]
                                    </label>
                                    <input
                                        id="gateway"
                                        type="text"
                                        placeholder="2M/3M"
                                        class="w-full p-2 rounded bg-gray-700 text-white focus:outline-none focus:ring-2 focus:ring-orange-500"
                                    />
                                </div>
                            </div>
                            <!-- Gateway del ISP -->
                            <div>
                                <!-- Contenedor borde azul -->
                                <div
                                    class="text-gray-950 shadow-2xl rounded-lg p-2 w-full ring-2 ring-slate-600 late-00 mt-4"
                                >
                                    <label
                                        for="gateway"
                                        class="block font-semibold text-gray-900 mb-2 mt-2 bg-teal-500 rounded-t-lg pl-2"
                                    >
                                        Limit Uptime [duration]</label
                                    >

                                    <label
                                        for="gateway"
                                        class="block font-semibold text-gray-300 mb-2 pl-2"
                                        >d=days, h=hours, m=minutes</label
                                    >

                                    <input
                                        id="gateway"
                                        type="text"
                                        placeholder="0h"
                                        class="w-full p-2 rounded bg-gray-700 text-white focus:outline-none focus:ring-2 focus:ring-orange-500"
                                    />
                                </div>
                            </div>
                            <!-- Contenedor borde azul -->
                            <div
                                class="text-gray-950 shadow-2xl rounded-lg p-2 w-full ring-2 ring-slate-600 mt-4"
                            >
                                <div>
                                    <label
                                        for="gateway"
                                        class="block font-semibold text-gray-300 mb-2 mt-4 bg-blue-500 rounded-t-lg pl-2"
                                        >Limit Quota [total Bytes]
                                    </label>
                                    <label
                                        for="gateway"
                                        class="block font-semibold text-gray-300 mb-2"
                                        >K=KB, M=MB, G=GB in Bytes</label
                                    >
                                    <input
                                        id="gateway"
                                        type="text"
                                        placeholder="0G"
                                        class="w-full p-2 rounded bg-gray-700 text-white focus:outline-none focus:ring-2 focus:ring-orange-500"
                                    />
                                </div>
                            </div>
                            <div>
                                <label
                                    for="gateway"
                                    class="block font-semibold text-gray-300 mb-2 mt-4"
                                    >Type Username</label
                                ><input
                                    id="gateway"
                                    type="text"
                                    placeholder="user@"
                                    class="w-full p-2 rounded bg-gray-700 text-white focus:outline-none focus:ring-2 focus:ring-orange-500"
                                />
                            </div>
                            <div>
                                <div
                                    class="text-gray-950 shadow-2xl rounded-lg p-2 w-full ring-2 ring-slate-600 late-00 mt-4"
                                >
                                    <label
                                        for="routeros"
                                        class="block font-semibold text-gray-300 mb-2 mt-2"
                                        >PPP Service Options</label
                                    >
                                    <select
                                        id="routeros"
                                        class="w-full p-2 rounded bg-gray-700 text-white focus:outline-none focus:ring-2 focus:ring-orange-500"
                                    >
                                        <option value="v6.xx"
                                            >Type Password</option
                                        >
                                        <option value="v7.xx"
                                            >Password = Username</option
                                        >
                                        <option value="v7.xx"
                                            >Username = Password</option
                                        >
                                        <option value="v7.xx"
                                            >Type Username = Password</option
                                        >
                                        <option value="v7.xx"
                                            >Type Username = Ip Client</option
                                        >
                                        <option value="v7.xx"
                                            >Random 3 = Character</option
                                        >
                                        <option value="v7.xx"
                                            >Random 4 = Character</option
                                        >
                                        <option value="v7.xx"
                                            >Random 5 = Character</option
                                        >
                                    </select>
                                </div>
                            </div>
                            <div
                                class="text-gray-950 shadow-2xl rounded-lg p-2 w-full ring-2 ring-slate-600 mt-4"
                            >
                                <div>
                                    <label
                                        for="gateway"
                                        class="block font-semibold text-gray-300 mb-2 mt-4 bg-red-600 rounded-t-lg pl-2"
                                        >Conexion Remota con Mikrotik
                                    </label>
                                </div>
                                <div class="p-6">
                                    <!-- Checkbox -->
                                    <div class="flex items-center mb-6">
                                        <input
                                            type="checkbox"
                                            id="enableRemote"
                                            class="w-5 h-5 mr-2"
                                        />
                                        <label
                                            for="enableRemote"
                                            class="text-sm text-gray-300"
                                        >
                                            Activar conexión remota con Mikrotik
                                        </label>
                                    </div>

                                    <!-- Formulario en columnas -->
                                    <div class="grid grid-cols-2 gap-6">
                                        <!-- Columna izquierda -->
                                        <div class="space-y-4">
                                            <div>
                                                <label
                                                    class="text-gray-300 block text-sm font-semibold mb-1"
                                                    >CONNECT TO:</label
                                                >
                                                <input
                                                    type="text"
                                                    class="w-full p-1 rounded bg-gray-700 text-white focus:outline-none focus:ring-2 focus:ring-orange-500"
                                                    placeholder="IP o dominio"
                                                />
                                            </div>
                                            <div>
                                                <label
                                                    class="text-gray-300 block text-sm font-semibold mb-1"
                                                    >LOGIN:</label
                                                >
                                                <input
                                                    type="text"
                                                    class="w-full p-1 rounded bg-gray-700 text-white focus:outline-none focus:ring-2 focus:ring-orange-500"
                                                    placeholder="Usuario"
                                                />
                                            </div>
                                        </div>

                                        <!-- Columna derecha -->
                                        <div class="space-y-4">
                                            <div class="flex items-end gap-2">
                                                <div class="flex-1">
                                                    <label
                                                        class="text-gray-300 block text-sm font-semibold mb-1"
                                                        >PUERTO:</label
                                                    >
                                                    <input
                                                        type="number"
                                                        class="w-full p-1 rounded bg-gray-700 text-white focus:outline-none focus:ring-2 focus:ring-orange-500"
                                                        placeholder="8291"
                                                    />
                                                </div>
                                                <button
                                                    class="mt-5 px-4 py-2 text-sm font-bold text-white bg-red-500 rounded-lg hover:bg-red-600 transition"
                                                >
                                                    Validar Conexión
                                                </button>
                                            </div>

                                            <div>
                                                <label
                                                    class="text-gray-300 block text-sm font-semibold mb-1"
                                                    >CONTRASEÑA:</label
                                                >
                                                <input
                                                    type="password"
                                                    class="w-full p-1 rounded bg-gray-700 text-white focus:outline-none focus:ring-2 focus:ring-orange-500"
                                                    placeholder="********"
                                                />
                                            </div>
                                        </div>
                                    </div>
                                    <label
                                        for="enableRemote"
                                        class="pt-2 text-sm text-gray-500"
                                    >
                                        ¿Necesitas acceder a tu Mikrotik desde
                                        cualquier lugar fuera de tu red?
                                        Solicita ahora tu acceso remoto y podrás
                                        gestionarlo y administrarlo estés donde
                                        estés. Nosotros te lo configuramos.
                                        <a
                                            href="https://wa.me/51930327563" target="_blank"
                                            class="ml-1 font-bold text-gray-300 animate-bounce hover:underline"
                                        >
                                            ¡Haz clic aquí para solicitarlo!
                                        </a>
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div
                            class="flex flex-wrap justify-center gap-4 mb-6 mt-7"
                        >
                            <button
                                class="text-white px-4 py-2 rounded-md transition ease-in-out delay-150 bg-gray-600 hover:-translate-y-1 hover:scale-110 hover:bg-slate-700 duration-300"
                            >
                                Borrar Todo
                            </button>

                            <button
                                class="text-white px-4 py-2 rounded-md transition ease-in-out delay-150 bg-orange-500 hover:-translate-y-1 hover:scale-110 hover:bg-orange-600 duration-300"
                            >
                                Generar Script
                            </button>

                            <button
                                class="text-white px-4 py-2 rounded-md transition ease-in-out delay-150 bg-green-500 hover:-translate-y-1 hover:scale-110 hover:bg-teal-600 duration-300"
                            >
                                Copiar Todo
                            </button>
                        </div>

                        <!-- Selección de Juegos -->
                    </div>

                    <!-- Columna Derecha -->
                    <div class="bg-gray-700 p-4 rounded-lg flex flex-col">
                        <label
                            class="block text-sm font-semibold mb-2 text-gray-300"
                            >Script Generator Result</label
                        >
                        <textarea
                            class="flex-grow bg-gray-800 border border-gray-600 rounded p-2 focus:outline-none focus:ring-2 focus:ring-orange-500 text-gray-400"
                            placeholder="Please Login and Subscribe .."
                            readonly></textarea>
                        <div class="flex mt-4 space-x-4"></div>
                        <button
                            class="text-white px-4 py-2 rounded-md transition ease-in-out delay-150 bg-emerald-600 hover:-translate-y-1 hover:scale-110 hover:bg-teal-600 duration-300"
                        >
                            Imprimir Voucher
                        </button>
                    </div>
                </form>
            </div>
        </div>

        <!-- Contenido Fin -->
    </body>

    <!-- Contenido Fin Aqui para abajo es otro codigo q u se borrara -->
</MainLayout>
