---
import MainLayout from "../layout/MainLayout.astro";
---

<MainLayout title="Open Book">
  <body
    class="bg-gray-900 text-white font-sans min-h-screen flex items-center justify-center"
  >
    <div class="bg-gray-800 rounded-lg shadow-lg p-6 mx-4 my-8">
      <!-- Contenido -->
      <!-- Header -->
      <!-- Título -->
      <div class="text-center mb-6">
        <h1 class="text-2xl lg:text-4xl font-bold text-orange-500">
          MIKROTIK AUTO BACKUP TO E-MAIL GENERATOR
        </h1>
        <p class="text-gray-300 mt-4">
          Port TCP/UDP Static Routing. ¡Fácil, rápido y efectivo! 🚀
        </p>
      </div>
    </div>
    <div class="bg-gray-800 rounded-lg shadow-lg p-6 mx-4 my-8">
      <!-- Contenido inicio -->

      <div class="container mx-auto px-4">
        <div
          class="flex flex-col lg:flex-row  rounded-lg shadow-lg overflow-hidden"
        >
          <!-- Panel de Configuración -->
          <div class="w-full lg:w-2/4 bg-gray-800 p-6">
            <!-- Contenedor borde azul -->
            <div
              class="text-gray-950 shadow-2xl rounded-lg p-6 w-full ring-2 ring-blue-500"
            >
              <!-- Selector de Opciones -->
              <!-- Gateway del ISP -->
              <div>
                <label
                  for="gateway"
                  class="block font-semibold text-gray-300 mb-2 mt-4"
                  >E-Mail Server
                </label>
                <input
                  id="gateway"
                  type="text"
                  placeholder="74.125.200.109"
                  class="w-full p-2 rounded bg-gray-700 text-white focus:outline-none focus:ring-2 focus:ring-orange-500"
                />
              </div>
              <!-- WAN ISP and Gateways -->
              <div class="grid grid-cols-1 sm:grid-cols-2 gap-4 mt-4">
                <div>
                  <label
                    for="wan1"
                    class="block text-sm font-semibold text-gray-300"
                    >E-Mail Port</label
                  >
                  <input
                    id="wan1"
                    type="text"
                    placeholder="587"
                    class="w-full bg-gray-800 border border-gray-600 rounded p-2 focus:outline-none focus:ring-2 focus:ring-orange-500"
                  />
                </div>
                <div>
                  <label
                    for="gateway1"
                    class="block text-sm font-semibold text-gray-300"
                    >RouterOS Version</label
                  >
                  <select
                    id="routeros"
                    class="w-full p-2 rounded bg-gray-700 text-white focus:outline-none focus:ring-2 focus:ring-orange-500"
                  >
                    <option value="v6.xx">v6.xx</option>
                    <option value="v7.xx">v7.xx</option>
                  </select>
                </div>
              </div>
              <!-- Gateway del ISP -->
              <div>
                <label
                  for="gateway"
                  class="block font-semibold text-gray-300 mb-2 mt-4"
                  >E-Mail User
                </label>
                <input
                  id="gateway"
                  type="text"
                  placeholder="backup.mikrotik.ros@gmail.com"
                  class="w-full p-2 rounded bg-gray-700 text-white focus:outline-none focus:ring-2 focus:ring-orange-500"
                />
              </div>

              <!-- Gateway del ISP -->
              <div>
                <label
                  for="gateway"
                  class="block font-semibold text-gray-300 mb-2 mt-4"
                  >E-Mail Password</label
                >
                <input
                  id="gateway"
                  type="text"
                  placeholder="contraseña"
                  class="w-full p-2 rounded bg-gray-700 text-white focus:outline-none focus:ring-2 focus:ring-orange-500"
                />
              </div>
              <!-- Gateway del ISP -->
              <div>
                <label
                  for="gateway"
                  class="block font-semibold text-gray-300 mb-2 mt-4"
                  >Backup File Option</label
                >
                <select
                  id="routeros"
                  class="w-full p-2 rounded bg-gray-700 text-white focus:outline-none focus:ring-2 focus:ring-orange-500"
                >
                  <option value="v6.xx">Full Backup Files (.backup)</option>
                  <option value="v7.xx">Full RSC Files (.rsc)</option>
                  <option value="v7.xx">Queue Simple (.rsc)</option>
                  <option value="v7.xx">Queue Tree (.rsc)</option>
                  <option value="v7.xx">Mangle (.rsc)</option>
                  <option value="v7.xx">Hotspot (.rsc)</option>
                  <option value="v7.xx">PPP / PPPoE (.rsc)</option>
                  <option value="v7.xx">Address List (.rsc)</option>
                  <option value="v7.xx">IP Routes (.rsc)</option>
                  <option value="v7.xx">Routing BGP, RIF, etc. (.rsc)</option>
                </select>
              </div>
              <!-- Gateway del ISP -->
              <div>
                <label
                  for="gateway"
                  class="block font-semibold text-gray-300 mb-2 mt-4"
                  >Send Backup File To Your E-Mail</label
                >
                <input
                  id="gateway"
                  type="text"
                  placeholder="your-email@gmail.com"
                  class="w-full p-2 rounded bg-gray-700 text-white focus:outline-none focus:ring-2 focus:ring-orange-500"
                />
              </div>
              <!-- Gateway del ISP -->
              <div>
                <label
                  for="gateway"
                  class="block font-semibold text-gray-300 mb-2 mt-4"
                  >Router Description / E-Mail Title</label
                >
                <input
                  id="gateway"
                  type="text"
                  placeholder="Backup From my Router"
                  class="w-full p-2 rounded bg-gray-700 text-white focus:outline-none focus:ring-2 focus:ring-orange-500"
                />
              </div>
              <!-- Gateway del ISP -->
              <div>
                <label
                  for="gateway"
                  class="block font-semibold text-gray-300 mb-2 mt-4"
                  >Scheduler Sending E-Mail</label
                ><p class="text-gray-300">
                  d (day) : 1d, 3d, 7d, 14d, 20d, 30d
                </p>
                <input
                  id="gateway"
                  type="text"
                  placeholder="7d"
                  class="w-full p-2 rounded bg-gray-700 text-white focus:outline-none focus:ring-2 focus:ring-orange-500"
                />
              </div>
              <div class="flex flex-wrap justify-center gap-4 mb-6 mt-7">
                <button
                  class="text-white w-96 py-2 rounded-md transition ease-in-out delay-150 bg-green-500 hover:-translate-y-1 hover:scale-110 hover:bg-teal-600 duration-300"
                >
                  Generar
                </button>
              </div>
            </div>

            <!-- Campos de Entrada -->
          </div>

          <!-- Script Generator Section -->
          <div
            class="rounded-lg bg-gray-700 p-4 flex flex-col w-full mt-6 mb-6"
          >
            <label class="block text-sm font-semibold mb-2 text-gray-300"
              >Copy-Paste the Script to the Terminal</label
            >
            <textarea
              class="flex-grow bg-gray-800 border border-gray-600 rounded-lg p-2 focus:outline-none focus:ring-2 focus:ring-orange-500 text-gray-400"
              placeholder="Please Login and Subscribe .."
              readonly></textarea>
            <div class="flex mt-4 space-x-4">
              <button
                class="bg-orange-500 text-white px-4 py-2 rounded hover:bg-orange-600 transition"
                >Copiar Script</button
              >
            </div>
          </div>
        </div>
        <p class="text-2sm text-orange-500 mx-6">
          CREATE YOUR OWN GMAIL SERVER :
        </p>
        <p class="text-gray-400 mx-8">
          1. First go here https://myaccount.google.com/security then follow the instructions to activate 2-step verification, then a code will be sent to your cellphone number.<br>
          2. Then create an application password here https://myaccount.google.com/apppasswords later this password will be used to input the Mikrotik mail server. 
        </p>
        <div class="bg-gray-700 p-4 rounded-lg mt-6 mb-4 mx-8">
          <p class="text-sm text-gray-300">
            Tenemos un video tutorial de como utilizar nuestra herramienta, Ver
            Video...
          </p>
        </div>
      </div>

      <!-- Contenido Fin -->
    </div>

    <!-- Contenido Fin Aqui para abajo es otro codigo q u se borrara -->
  </body>
</MainLayout>
