---
import MikrotikForm from "../components/mikrotik-hide-my-router-from-isp/formulario";
import MainLayout from "../layout/MainLayout.astro";
---

<MainLayout title="Open Book">
  <body
    class="bg-gray-900 text-white font-sans min-h-screen flex items-center justify-center"
  >
    <div class="bg-gray-800 rounded-lg shadow-lg p-6 mx-4 my-8">
      <!-- Contenido -->
      <!-- Header -->
      <!-- Título -->
      <div class="text-center mb-6">
        <h1 class="text-2xl lg:text-4xl font-bold text-orange-500">
          MIKROTIK NINJA : HIDE ROUTERBOARD INFO FROM ISP / WAN SCANNING
        </h1>
        <p class="text-gray-300 mt-4">Facil y confiable</p>
      </div>
    </div>

    <div class="bg-gray-800 rounded-lg shadow-lg p-6 mx-4 my-8">
      <!-- Contenido inicio -->
      <!-- Título -->

      <!-- Diagrama -->
      <div class="flex justify-center mb-2">
        <img
          src="/images/mikrotik-hide-my-router-from-isp.png"
          alt="Routing Diagram"
          class="rounded-lg"
        />
      </div>

      <MikrotikForm client:load />

      <!-- Contenido Fin Aqui para abajo es otro codigo q u se borrara -->
    </div>
  </body>
</MainLayout>
