---
import Formulario from "../components/mikrotik-failover-script-generator/failoverlineas";
import MainLayout from "../layout/MainLayout.astro";
---

<MainLayout title="Open Book">
  <body
    class="bg-gray-900 text-white font-sans min-h-screen flex items-center justify-center"
  >
    <div class="bg-gray-800 rounded-lg shadow-lg p-6 mx-4 my-8">
      <!-- Contenido -->
      <!-- Header -->
      <!-- Título -->
      <div class="text-center mb-6">
        <h1 class="text-2xl lg:text-4xl font-bold text-orange-500">
          MIKROTIK FAILOVER GENERATOR
        </h1>
        <p class="text-gray-300">
          Recursive Gateway, Check Gateway, Netwatch Ping
        </p>
      </div>
    </div>
    <!-- Contenido inicio -->
    <div class="bg-gray-800 rounded-lg shadow-lg p-6 mx-4 my-8">
      <div class="container mx-auto p-6 bg-gray-800 rounded-lg shadow-lg">
        <!-- Formulario -->
        <Formulario client:load />
      </div>
    </div>

    <!-- Contenido Fin Aqui para abajo es otro codigo q u se borrara -->
  </body>
</MainLayout>
