---
import MainLayout from "../layout/MainLayout.astro";
---

<MainLayout title="Open Book">
  <body
    class="bg-gray-900 text-white font-sans min-h-screen flex items-center justify-center"
  >
    <div class="bg-gray-800 rounded-lg shadow-lg p-6 mx-4 my-8">
      <!-- Contenido -->
      <!-- Header -->
      <!-- T칤tulo -->
      <div class="text-center mb-6">
        <h1 class="text-2xl lg:text-4xl font-bold text-orange-500">
          MIKROTIK BANDWIDTH SHARE FOR HOTSPOT SHARED USER SCRIPT GENERATOR
        </h1>
        <p class="text-gray-300 mt-4">
          PRECIO DE SUSCRIPCI칍N. 춰F치cil, r치pido y efectivo! 游
        </p>
      </div>
    </div>
    <div class="bg-gray-800 rounded-lg shadow-lg p-6 mx-4 my-8">
      <!-- Contenido inicio -->

      <div class="container mx-auto p-6 bg-gray-800 rounded-lg shadow-lg">
        <!-- T칤tulo -->

        <!-- Formulario Principal -->
        <form class="grid grid-cols-1 lg:grid-cols-2 gap-6">
          <!-- Columna Izquierda -->
          <!-- Contenedor borde azul -->

          <div class="space-y-6">
            <!-- Selecci칩n de RouterOS -->

            <!-- Gateway del ISP -->
            <label
              for="routeros"
              class="font-semibold text-gray-300 mb-2 h-14 bg-gradient-to-r from-blue-900 to-blue-500 rounded-t-lg grid gap-4 place-items-center mt-5"
              >SIMPLE QUEUE</label
            >
            <!-- WAN ISP and Gateways -->
            <div class="grid grid-cols-1 sm:grid-cols-2 gap-4 mt-2">
              <div>
                <label
                  for="wan1"
                  class="block text-sm font-semibold text-gray-300 mb-2"
                  >Parent Name Queue</label
                >
                <input
                  id="wan1"
                  type="text"
                  placeholder="Nombre"
                  class="w-full bg-gray-800 border border-gray-600 rounded p-2 focus:outline-none focus:ring-2 focus:ring-orange-500"
                />
              </div>
              <div>
                <label
                  for="gateway1"
                  class="block text-sm font-semibold text-gray-300 mb-2"
                  >Max Limit (up/down)</label
                >
                <input
                  id="gateway1"
                  type="text"
                  placeholder="2M/5M"
                  class="w-full bg-gray-800 border border-gray-600 rounded p-2 focus:outline-none focus:ring-2 focus:ring-orange-500"
                />
              </div>
            </div>
            <!-- Gateway del ISP -->

            <div>
              <label
                for="gateway"
                class="block font-semibold text-gray-300 mt-4"
                >Target IP Address
              </label>
              <label for="gateway" class="text-sm text-gray-600 mt-1"
                >Match With Your Hotspot IP Address
              </label>

              <input
                id="gateway"
                type="text"
                placeholder="10.5.50.0/24"
                class="w-full p-2 rounded bg-gray-700 text-white focus:outline-none focus:ring-2 focus:ring-orange-500"
              />
            </div>
            <!-- T칤tulo del SSID -->
            <!-- Gateway del ISP -->
            <label
              for="routeros"
              class="font-semibold text-gray-300 mb-2 h-14 bg-gradient-to-r from-red-400 to-blue-900 rounded-t-lg grid gap-4 place-items-center mt-5"
              >HOTSPOT PROFILE</label
            >

            <div>
              <label
                for="gateway"
                class="block font-semibold text-gray-300 mb-4"
                >Profile Name
              </label>

              <input
                id="gateway"
                type="text"
                placeholder="Nombre_Perfil"
                class="w-full p-2 rounded bg-gray-700 text-white focus:outline-none focus:ring-2 focus:ring-orange-500"
              />
            </div>

            <!-- WAN ISP and Gateways -->
            <div class="grid grid-cols-1 sm:grid-cols-2 gap-4 mt-2">
              <div>
                <label
                  for="wan1"
                  class="block text-sm font-semibold text-gray-300 mb-2"
                  >Shared User</label
                >
                <input
                  id="wan1"
                  type="text"
                  placeholder="5"
                  class="w-full bg-gray-800 border border-gray-600 rounded p-2 focus:outline-none focus:ring-2 focus:ring-orange-500"
                />
              </div>
              <div>
                <label
                  for="gateway1"
                  class="block text-sm font-semibold text-gray-300 mb-2"
                  >Rate Limit (up/down)</label
                >
                <input
                  id="gateway1"
                  type="text"
                  placeholder="1M/2M"
                  class="w-full bg-gray-800 border border-gray-600 rounded p-2 focus:outline-none focus:ring-2 focus:ring-orange-500"
                />
              </div>
            </div>
            <!-- WAN ISP and Gateways -->
            <div class="grid grid-cols-1 sm:grid-cols-2 gap-4 mt-2">
              <div>
                <label
                  for="wan1"
                  class="block text-sm font-semibold text-gray-300 mb-2"
                  >User Name</label
                >
                <input
                  id="wan1"
                  type="text"
                  placeholder="Ingrese Nombre"
                  class="w-full bg-gray-800 border border-gray-600 rounded p-2 focus:outline-none focus:ring-2 focus:ring-orange-500"
                />
              </div>
              <div>
                <label
                  for="gateway1"
                  class="block text-sm font-semibold text-gray-300 mb-2"
                  >Rate Limit (up/down)</label
                >
                <input
                  id="gateway1"
                  type="text"
                  placeholder="Ingrese Contrase침a"
                  class="w-full bg-gray-800 border border-gray-600 rounded p-2 focus:outline-none focus:ring-2 focus:ring-orange-500"
                />
              </div>
            </div>
            <!-- WAN ISP and Gateways -->

            <div class="text-gray-300">
              <input type="checkbox" id="game1" class="mr-2 my-4" /><label
                for="game1">Auto set PCQ for full Bandwidth Shared</label>
            </div>
            <div class="flex flex-wrap justify-center gap-4 mb-6 mt-7">
              <button
                class="text-white px-4 py-2 rounded-md transition ease-in-out delay-150 bg-gray-600 hover:-translate-y-1 hover:scale-110 hover:bg-slate-700 duration-300"
              >
                Borrar Todo
              </button>
              <button
                class="text-white px-4 py-2 rounded-md transition ease-in-out delay-150 bg-orange-500 hover:-translate-y-1 hover:scale-110 hover:bg-orange-600 duration-300"
              >
                Generar Script
              </button>
      
            
            </div>









            <!-- Selecci칩n de Juegos -->
          </div>

          <!-- Columna Derecha -->

          <div
            class="text-gray-950 shadow-2xl rounded-lg p-6 w-full ring-2 ring-blue-500"
          >
            <!-- Script Generator Section -->
            <div class="bg-gray-700 p-4 rounded-lg flex flex-col">
              <label class="block text-sm font-semibold mb-2 text-gray-300"
                >Script Generator Result</label
              >
              <textarea
                class="flex-grow bg-gray-800 border border-gray-600 rounded p-2 focus:outline-none focus:ring-2 focus:ring-orange-500 text-gray-400"
                placeholder="Please Login and Subscribe .."
                readonly></textarea>
      
            </div>
            <button
            class="text-white px-4 py-2 rounded-md transition ease-in-out delay-150 bg-green-500 hover:-translate-y-1 hover:scale-110 hover:bg-teal-600 duration-300 mt-4"
          >
            Copiar Todo
          </button>
            <!-- Vista Previa del QR -->
   
          </div>
        </form>
      </div>
    </div>

    <!-- Contenido Fin -->
  </body>

  <!-- Contenido Fin Aqui para abajo es otro codigo q u se borrara -->
</MainLayout>
