---
import MainLayout from "../layout/MainLayout.astro";
---

<MainLayout title="Open Book">
  <body
    class="bg-gray-900 text-white font-sans min-h-screen flex items-center justify-center"
  >
    <div class="bg-gray-800 rounded-lg shadow-lg p-6 mx-4 my-8">
      <!-- Contenido -->
      <!-- Header -->
      <!-- T칤tulo -->
      <div class="text-center mb-6">
        <h1 class="text-2xl lg:text-4xl font-bold text-orange-500">
          MIKROTIK DNS over HTTPS (DoH) SERVER GENERATOR
        </h1>
        <p class="text-gray-300 mt-4">
          Port TCP/UDP Static Routing. 춰F치cil, r치pido y efectivo! 游
        </p>
      </div>
    </div>
    
    <div class="bg-gray-800 rounded-lg shadow-lg p-6 mx-4 my-8">
      <!-- Contenido inicio -->
      <div class="text-center mb-6">
    
        <p class="text-gray-300 mt-4">
            Bonding es una tecnolog칤a que permite combinar m치s de una interfaz ethernet y combinarlas en un enlace virtual para que podamos obtener un mayor rendimiento del ancho de banda. Como ejemplo, su enrutador ether1 solo admite 100 Mbps, puede conectarse con ether2 y finalmente obtendr치 m치s velocidad a 200 Mbps.
        </p>
      </div>
      <div class="grid grid-cols-1 lg:grid-cols-2 gap-6">
        <!-- Script Generator Section -->
        <div class="bg-gray-700 p-4 rounded-lg flex flex-col">
            <div class="text-center mb-6">
                <h1 class="text-2xl lg:text-4xl font-bold text-orange-500">
                  MIKROTIK A
                </h1>
               
              </div>
              <!-- Dropdowns -->
            <div>
                <label
                  for="gateway1"
                  class="block text-sm font-semibold text-gray-300"
                  >Bonding Name</label
                >
                <input
                  id="gateway1"
                  type="text"
                  placeholder="bonding"
                  class="w-full bg-gray-800 border border-gray-600 rounded p-2 focus:outline-none focus:ring-2 focus:ring-orange-500 mt-2"
                />
              </div>
              
              <div>
                <label
                  for="gateway1"
                  class="block text-sm font-semibold text-gray-300"
                  >Bonding IP Address</label
                >
                <input
                  id="gateway1"
                  type="text"
                  placeholder="192.168.50.1/24"
                  class="w-full bg-gray-800 border border-gray-600 rounded p-2 focus:outline-none focus:ring-2 focus:ring-orange-500 mt-2"
                />
              </div>
              <div>
                <h3 class="font-semibold text-gray-300 mb-2 mt-3">Bonding Slaves</h3>
                <div class=" bg-cyan-600 p-4 rounded flex space-x-4 text-sm font-semibold text-gray-300 mt-4">
                  
                 
                    <input type="checkbox" id="game1"><label for="game1">Ether 1</label>
                    <input type="checkbox" id="game2" class="mr-2"><label for="game2">Ether 2</label>
                    <input type="checkbox" id="game3" class="mr-2"><label for="game3">Ether 3</label>
                    <input type="checkbox" id="game4" class="mr-2"><label for="game3">Ether 4</label>
                    <input type="checkbox" id="game5" class="mr-2"><label for="game3">Ether 5</label>
                   
                    <!-- A침adir m치s juegos aqu칤 -->
                                  
                </div>
              </div>
              <div>
                <h3 class="font-semibold text-gray-300 mb-2 mt-2">Link Monitoring / Failover Bonding Interface</h3>
                <div class="  rounded flex space-x-4 text-sm font-semibold text-gray-300 ">
                  
                 
                    <input type="checkbox" id="game1"><label for="game1">ARP Monitoring</label>
                   
                    <!-- A침adir m치s juegos aqu칤 -->
                                  
                </div>
              </div>
          
          <textarea
            class="flex-grow bg-gray-800 border border-gray-600 rounded p-2 focus:outline-none focus:ring-2 focus:ring-orange-500 text-gray-400 mt-4"
            placeholder="Please Login and Subscribe .."
            readonly></textarea>
          <div class="flex mt-4 space-x-4">
         
      <div class="flex flex-wrap justify-center gap-4 mb-6 mt-7">
        <button
          class="text-white px-4 py-2 rounded-md transition ease-in-out delay-150 bg-cyan-600 hover:-translate-y-1 hover:scale-110 hover:bg-red-800 duration-300"
        >
          Copiar Script
        </button>
        
      </div>


          </div>
        </div>

        <!-- Script Generator Section -->
        <div class="bg-gray-700 p-4 rounded-lg flex flex-col">
            <div class="text-center mb-6">
                <h1 class="text-2xl lg:text-4xl font-bold text-orange-500">
                  MIKROTIK B
                </h1>
               
              </div>
              <!-- Dropdowns -->
            <div>
                <label
                  for="gateway1"
                  class="block text-sm font-semibold text-gray-300"
                  >Bonding Name</label
                >
                <input
                  id="gateway1"
                  type="text"
                  placeholder="bonding"
                  class="w-full bg-gray-800 border border-gray-600 rounded p-2 focus:outline-none focus:ring-2 focus:ring-orange-500 mt-2"
                />
              </div>
              
              <div>
                <label
                  for="gateway1"
                  class="block text-sm font-semibold text-gray-300"
                  >Bonding IP Address</label
                >
                <input
                  id="gateway1"
                  type="text"
                  placeholder="192.168.50.2/24"
                  class="w-full bg-gray-800 border border-gray-600 rounded p-2 focus:outline-none focus:ring-2 focus:ring-orange-500 mt-2"
                />
              </div>
              <div>
                <h3 class="font-semibold text-gray-300 mb-2 mt-3">Bonding Slaves</h3>
                <div class=" bg-green-700 p-4 rounded flex space-x-4 text-sm font-semibold text-gray-300 mt-4">
                  
                 
                    <input type="checkbox" id="game1"><label for="game1">Ether 1</label>
                    <input type="checkbox" id="game2" class="mr-2"><label for="game2">Ether 2</label>
                    <input type="checkbox" id="game3" class="mr-2"><label for="game3">Ether 3</label>
                    <input type="checkbox" id="game4" class="mr-2"><label for="game3">Ether 4</label>
                    <input type="checkbox" id="game5" class="mr-2"><label for="game3">Ether 5</label>
                   
                    <!-- A침adir m치s juegos aqu칤 -->
                                  
                </div>
              </div>
              <div>
                <h3 class="font-semibold text-gray-300 mb-2 mt-2">Link Monitoring / Failover Bonding Interface</h3>
                <div class="  rounded flex space-x-4 text-sm font-semibold text-gray-300 ">
                  
                 
                    <input type="checkbox" id="game1"><label for="game1">ARP Monitoring</label>
                   
                    <!-- A침adir m치s juegos aqu칤 -->
                                  
                </div>
              </div>
          
          <textarea
            class="flex-grow bg-gray-800 border border-gray-600 rounded p-2 focus:outline-none focus:ring-2 focus:ring-orange-500 text-gray-400 mt-4"
            placeholder="Please Login and Subscribe .."
            readonly></textarea>
          <div class="flex mt-4 space-x-4">
         
      <div class="flex flex-wrap justify-center gap-4 mb-6 mt-7">
        <button
          class="text-white px-4 py-2 rounded-md transition ease-in-out delay-150 bg-green-600 hover:-translate-y-1 hover:scale-110 hover:bg-red-800 duration-300"
        >
          Copiar Script
        </button>
        
      </div>


          </div>
        </div>
      </div>
  

          <!-- Contenido Fin -->
        </div>

        <!-- Contenido Fin Aqui para abajo es otro codigo q u se borrara -->
      </div>
    </div>
  </body></MainLayout
>
