---
import FormulariomikrotikDnsOverHttpsDoh from "../components/mikrotikDnsDverHttpsDoh/formulario";
import MainLayout from "../layout/MainLayout.astro";

const response = await fetch(
  `${import.meta.env.PUBLIC_BASE_URL_API}/mikrotik-dns-over-https-doh`,
);

let dnsOptions = [];

if (response.ok) {
  const data = await response.json();
  dnsOptions = data;
}

console.log(dnsOptions)
---

<MainLayout title="Open Book">
  <div class="flex flex-col py-10 space-y-5">
    <div class="bg-gray-800 rounded-lg">
      <!-- Header -->
      <div class="text-center mb-6">
  <h1 class="text-2xl lg:text-4xl   font-extrabold text-transparent bg-clip-text animated-gradient bg-gradient-to-r from-amber-400 via-orange-700 to-red-600">
           GENERADOR DE SCRIPT PARA SERVIDOR DNS OVER HTTPS (DOH) EN MIKROTIK
        </h1>

  <p class="text-gray-300">
         Configura fácilmente DNS over HTTPS (DoH) en tu MikroTik para mejorar la seguridad, privacidad y rendimiento del sistema de resolución de nombres de dominio. Esta herramienta <br> genera automáticamente el script necesario para activar DoH en RouterOS, protegiendo tus consultas DNS contra espionaje y manipulación.
        </p>
 <style>
     /* Animación personalizada para mover el degradado */
    @keyframes gradientMove {
      0% { background-position: 0% 50%; }
      50% { background-position: 100% 50%; }
      100% { background-position: 0% 50%; }
    }

    .animated-gradient {
      background-size: 200% 200%;
      animation: gradientMove 5s ease infinite;
    }
  </style>
      </div>
    </div>

    <!-- Contenido inicio -->
    <div class="bg-gray-800 rounded-lg mx-4">
      <!-- Contenido Principal -->
      <div class="container mx-auto">
        <!-- Formulario Principal -->
        <FormulariomikrotikDnsOverHttpsDoh client:load dnsOptions={dnsOptions} />
      </div>
    </div>
  </div>
</MainLayout>
