---
import MainLayout from "../layout/MainLayout.astro";
---

<MainLayout title="Open Book">
  <body
    class="bg-gray-900 text-white font-sans min-h-screen flex items-center justify-center"
  >
    <div class="bg-gray-800 rounded-lg shadow-lg p-6 mx-4 my-8">
      <!-- Contenido -->
      <!-- Header -->
      <!-- T칤tulo -->
      <div class="text-center mb-6">
        <h1 class="text-2xl lg:text-4xl font-bold text-orange-500">
          Port TCP/UDP Static Routing
        </h1>
        <p class="text-gray-300 mt-4">
          Port TCP/UDP Static Routing. 춰F치cil, r치pido y efectivo! 游
        </p>
      </div>
    </div>
    <div class="bg-gray-800 rounded-lg shadow-lg p-6 mx-4 my-8">
      <!-- Contenido inicio -->

      <div class="container mx-auto p-6 bg-gray-800 rounded-lg shadow-lg">
        <!-- T칤tulo -->

        <div class="container mx-auto p-6 bg-gray-800 rounded-lg shadow-lg">
          <!-- T칤tulo -->
          <div class="text-center mb-6"></div>

          <!-- Diagrama -->
          <div class="flex justify-center mb-8">
            <img
              src="/public/images/protocolo-puertos.png"
              alt="Routing Diagram"
              class="rounded-lg"
            />
          </div>

          <!-- Formulario Principal -->
          <form class="grid grid-cols-1 lg:grid-cols-2 gap-8">
            <!-- Columna Izquierda -->
            <div class="space-y-6">
              <!-- IP Gateway -->
              <div>
                <label
                  for="gateway"
                  class="block font-semibold text-orange-400 mb-2"
                  >IP Gateway ISP / VPN</label
                >
                <input
                  id="gateway"
                  type="text"
                  placeholder="e.g.: 192.168.1.1"
                  class="w-full p-2 rounded bg-gray-700 text-white focus:outline-none focus:ring-2 focus:ring-orange-500"
                />
              </div>

              <!-- Routing Mark -->
              <div>
                <label
                  for="routing-mark"
                  class="block font-semibold text-orange-400 mb-2"
                  >Routing Opciones</label
                >
                <select
                  id="ros-version"
                  class="w-full p-2 rounded bg-gray-700 text-white focus:outline-none focus:ring-2 focus:ring-orange-500"
                >
                  <option value="v6.xx">Only Port Routing</option>
                  <option value="v7.xx">RouterOS v7.xx</option>
                </select>
              </div>
            </div>

            <!-- Columna Derecha -->
            <div class="space-y-6">
              <!-- Opciones Avanzadas -->
              <div>
                <label
                  for="regexp"
                  class="block font-semibold text-orange-400 mb-2"
                  >Routing Mark / Table</label
                >
                <div class="grid grid-cols-1 gap-4">
                  <input
                    type="text"
                    id="first-regexp"
                    placeholder="First Regexp"
                    class="p-2 rounded bg-gray-700 text-white focus:outline-none focus:ring-2 focus:ring-orange-500"
                  />
                </div>
              </div>
              <!-- ROS Version -->
              <div>
                <label
                  for="ros-version"
                  class="block font-semibold text-orange-400 mb-2"
                  >RouterOS Versi칩n</label
                >
                <select
                  id="ros-version"
                  class="w-full p-2 rounded bg-gray-700 text-white focus:outline-none focus:ring-2 focus:ring-orange-500"
                >
                  <option value="v6.xx">RouterOS v6.xx</option>
                  <option value="v7.xx">RouterOS v7.xx</option>
                </select>
              </div>
            </div>
          </form>
          <!-- Gesti칩n de Dominios -->

          <div
            class="text-gray-950 shadow-2xl rounded-lg p-6 w-full ring-2 ring-blue-500 mt-8"
          >
            <!-- Gr치fico (Placeholder para el esquema) -->

            <!-- Tabla del formulario -->
            <div class="overflow-x-auto rounded-t-lg">
              <table
                class="table-auto w-full border-spacing-2 border-slate-600"
              >
                <thead>
                  <tr class="bg-gray-700 text-gray-200">
                    <th class="border-slate-700 p-2 border">ADD</th>
                    <th class="border-slate-700 p-2 border">Protocolo</th>
                    <th class="border-slate-700 p-2 border">Target Port</th>
                    <th class="border-slate-700 p-2 border">Descripci칩n</th>
                  </tr>
                </thead>
                <tbody>
                  <tr class="text-gray-800">
                    <td class="p-2 border border-slate-700">
                      <button
                        type="button"
                        class="bg-red-500 hover:bg-red-600 text-white py-2 px-4 rounded"
                        >Remove</button
                      >
                    </td>
                    <td class="border-slate-700 p-2 border">
                      <select
                        class="w-full p-2 rounded bg-gray-700 text-white focus:outline-none focus:ring-2 focus:ring-orange-500"
                      >
                        <option value="TCP">TCP</option>
                        <option value="UDP">UDP</option>
                      </select>
                    </td>
                    <td class="border-slate-700 p-2 border">
                      <input
                        type="number"
                        placeholder="80,443"
                        placeholder="0.0.0.0/0"
                        class="w-full p-2 rounded bg-gray-700 text-white focus:outline-none focus:ring-2 focus:ring-orange-500"
                      />
                    </td>
                    <td class="border-slate-700 p-2 border">
                      <input
                        type="text"
                        placeholder="Browsing HTTP/s"
                        class="w-full p-2 rounded bg-gray-700 text-white focus:outline-none focus:ring-2 focus:ring-orange-500"
                      />
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>

          <!-- Botones -->
          <div class="flex flex-wrap justify-center gap-4 mb-6 mt-7">
            <button
              class="text-white px-4 py-2 rounded-md transition ease-in-out delay-150 bg-gray-600 hover:-translate-y-1 hover:scale-110 hover:bg-slate-700 duration-300"
            >
              Borrar Todo
            </button>
            <button
              class="text-white px-4 py-2 rounded-md transition ease-in-out delay-150 bg-orange-500 hover:-translate-y-1 hover:scale-110 hover:bg-orange-600 duration-300"
            >
              Generar Script
            </button>

            <button
              class="text-white px-4 py-2 rounded-md transition ease-in-out delay-150 bg-green-500 hover:-translate-y-1 hover:scale-110 hover:bg-teal-600 duration-300"
            >
              Copiar Todo
            </button>
          </div>
          <div class="bg-gray-700 p-4 rounded-lg flex flex-col">
            <label class="block text-sm font-semibold mb-2 text-gray-300"
              >Script Generator Result</label
            >
            <textarea
              class="flex-grow bg-gray-800 border border-gray-600 rounded p-2 focus:outline-none focus:ring-2 focus:ring-orange-500 text-gray-400"
              placeholder="Please Login and Subscribe .."
              readonly></textarea>
          </div>

          <!-- Contenido Fin -->
        </div>

        <!-- Contenido Fin Aqui para abajo es otro codigo q u se borrara -->
      </div>
    </div>
  </body></MainLayout
>
