---
import MainLayout from "../layout/MainLayout.astro";
---

<MainLayout title="Open Book">
  <body
    class="bg-gray-900 text-white font-sans min-h-screen flex items-center justify-center"
  >
    <div class="bg-gray-800 rounded-lg shadow-lg p-6 mx-4 my-8">
      <!-- Contenido -->
      <!-- Header -->
      <!-- Título -->
      <div class="text-center mb-6">
        <h1 class="text-2xl lg:text-4xl font-bold text-orange-500">
          MIKROTIK PCQ BURST RATE + QUEUE SIZE CALCULATOR
        </h1>
        <p class="text-gray-300 mt-4">
          PRECIO DE SUSCRIPCIÓN. ¡Fácil, rápido y efectivo! 🚀
        </p>
      </div>
    </div>
    <div class="bg-gray-800 rounded-lg shadow-lg p-6 mx-4 my-8">
      <!-- Contenido inicio -->
  
      <div class="container mx-auto p-6 bg-gray-800 rounded-lg shadow-lg">
        <!-- Título -->

        <!-- Formulario Principal -->
        <form class="grid grid-cols-1 lg:grid-cols-2 gap-6">
            <!-- Columna Izquierda -->
            <!-- Contenedor borde azul -->

            <div class="space-y-6">
                <!-- Selección de RouterOS -->
           
                <div class="text-gray-950 shadow-2xl rounded-lg p-6 w-full ring-2 ring-blue-500">

                <div>
          
                    <label
                        for="routeros"
                        class=" font-semibold text-gray-300 mb-2 h-14 bg-gradient-to-r from-blue-900 to-blue-500 rounded-t-lg grid gap-4 place-items-center "
                        >PCQ QUEUE SIZE</label
                    >
                    <div>
                      <label
                          for="gateway"
                          class="block font-semibold text-gray-300 mb-2 mt-4"
                          >Total Client (Sub Queue)
                      </label>
                      <input
                          id="gateway"
                          type="text"
                          placeholder="40"
                          class="w-full p-2 rounded bg-gray-700 text-white focus:outline-none focus:ring-2 focus:ring-orange-500"
                      />
                  </div>
                </div>

                <!-- Gateway del ISP -->
                <div>
                    <label
                        for="gateway"
                        class="block font-semibold text-gray-300 mb-2 mt-4"
                        >Queue Size (Limit)
                    </label>
                    <input
                        id="gateway"
                        type="text"
                        placeholder="50"
                        class="w-full p-2 rounded bg-gray-700 text-white focus:outline-none focus:ring-2 focus:ring-orange-500"
                    />
                </div>

                <!-- Gateway del ISP -->
                <label
                for="routeros"
                class="font-semibold text-gray-300 mb-2 h-14 bg-gradient-to-r from-blue-900 to-blue-500 rounded-t-lg grid gap-4 place-items-center mt-5"
                >PCQ QUEUE SIZE</label
            >
                <div>
                    <label
                        for="gateway"
                        class="block font-semibold text-gray-300 mb-2 mt-4"
                        >Rate (K/M)</label
                    >
                    <input
                        id="gateway"
                        type="text"
                        placeholder="512K"
                        class="w-full p-2 rounded bg-gray-700 text-white focus:outline-none focus:ring-2 focus:ring-orange-500"
                    />
                </div>
                <!-- Gateway del ISP -->
                <div>
                    <label
                        for="gateway"
                        class="block font-semibold text-gray-300 mb-2 mt-4"
                        >Burst Rate (K/M)</label
                    >
                    <input
                        id="gateway"
                        type="text"
                        placeholder="1M"
                        class="w-full p-2 rounded bg-gray-700 text-white focus:outline-none focus:ring-2 focus:ring-orange-500"
                    />
                </div>
                <!-- Gateway del ISP -->
                <div>
                    <label
                        for="gateway"
                        class="block font-semibold text-gray-300 mb-2 mt-4"
                        >Actual Burst Time (s)</label
                    >
                    <input
                        id="gateway"
                        type="text"
                        placeholder="6"
                        class="w-full p-2 rounded bg-gray-700 text-white focus:outline-none focus:ring-2 focus:ring-orange-500"
                    />
                </div>
 
                </div>

                <!-- Selección de Juegos -->
        
      <div class="flex flex-wrap justify-center gap-4 mb-6 mt-7 ">

        <button
          class="text-white px-4 py-2 rounded-md transition ease-in-out delay-150 bg-orange-500 hover:-translate-y-1 hover:scale-110 hover:bg-orange-600 duration-300"
        >
         Calcular PCQ
        </button>

     
      </div>

            </div>

            <!-- Columna Derecha -->
       
              <div class="text-gray-950 shadow-2xl rounded-lg p-6 w-full ring-2 ring-blue-500">
  
                <div class="overflow-x-auto rounded-t-lg">
                  <table class="table-auto w-full border-spacing-2 border-slate-600">
                    <thead>
                      <tr class="bg-gray-700 text-gray-200">
                        <th class="border-slate-700 p-2 border">TARGET UPLOAD</th>
                        <th class="border-slate-700 p-2 border">TARGET DOWNLOAD</th>
                        
                      </tr>
                    </thead>
              
                    
                    <tbody>
                      
                      <tr class="text-gray-800">
                        <td class="border-slate-700 p-2 border">
                          <label
                              for="wan-type"
                              class="block text-sm font-semibold text-gray-300 mt-1"
                              >Rate</label>
                              <div class="rounded-t-lg"> 
                      
                        </div>
                        </td>
                        <td class="border-slate-700 p-2 border bg-slate-600">
                          <label
                          for="wan-type"
                          class="block text-sm font-semibold text-gray-300 mt-1"
                          > 512K</label>
                          </td>   
                       </tr>
                       <tr class="text-gray-800">
                        <td class="border-slate-700 p-2 border">
                          <label
                              for="wan-type"
                              class="block text-sm font-semibold text-gray-300 mt-1"
                              >Queue Size</label>
                       
                        </td>
                        <td class="border-slate-700 p-2 border bg-slate-700">
                          <label
                          for="wan-type"
                          class="block text-sm font-semibold text-gray-300 mt-1"
                          >50</label>
                      
                        </td>   
                       </tr>
                       <tr class="text-gray-800">
                        <td class="border-slate-700 p-2 border">
                          <label
                              for="wan-type"
                              class="block text-sm font-semibold text-gray-300 mt-1"
                              >Total Queue Size</label>
                     
                        </td>
                        <td class="border-slate-700 p-2 border bg-slate-600">
                          <label
                          for="wan-type"
                          class="block text-sm font-semibold text-gray-300 mt-1"
                          > 2000</label>
                                              
                        </td> 
                          
                        
                       </tr>
                       <tr class="text-gray-800">
                        <td class="border-slate-700 p-2 border">
                          <label
                              for="wan-type"
                              class="block text-sm font-semibold text-gray-300 mt-1"
                              >Burst Rate</label>
                       
                        </td>
                        <td class="border-slate-700 p-2 border bg-slate-700">
                          <label
                          for="wan-type"
                          class="block text-sm font-semibold text-gray-300 mt-1"
                          >1M</label>
                      
                        </td>   
                       </tr>
                       <tr class="text-gray-800">
                        <td class="border-slate-700 p-2 border">
                          <label
                              for="wan-type"
                              class="block text-sm font-semibold text-gray-300 mt-1"
                              >Burst Threshold</label>
                       
                        </td>
                        <td class="border-slate-700 p-2 border bg-slate-600">
                          <label
                          for="wan-type"
                          class="block text-sm font-semibold text-gray-300 mt-1  "
                          >384K</label>
                      
                        </td>   
                       </tr>
                       <tr class="text-gray-800">
                        <td class="border-slate-700 p-2 border">
                          <label
                              for="wan-type"
                              class="block text-sm font-semibold text-gray-300 mt-1"
                              >Burst Time</label>
                       
                        </td>
                        <td class="border-slate-700 p-2 border bg-slate-700">
                          <label
                          for="wan-type"
                          class="block text-sm font-semibold text-gray-300 mt-1"
                          >16</label>
                      
                        </td>   
                       </tr>
                       
                       
                    </tbody>
                    
                  </table>
                  <div class="bg-gray-700 p-4 rounded-lg mt-6 mb-4 mx-8">
                    <p class="text-sm text-gray-300">
                      Tenemos un video tutorial de como utilizar nuestra herramienta, Ver
                      Video...
                    </p>
                  </div>
                    <!-- Diagrama -->
                    <div class="flex justify-center mb-8 mt-8">
                      <img
                        src="/public/images/NAT.png"
                        alt="Routing Diagram"
                        class="rounded-lg"
                      />
                    </div>
               
              </div>
            </div>
        </form>
    </div>
</div>


      
    <!-- Contenido Fin -->
  </body>

  <!-- Contenido Fin Aqui para abajo es otro codigo q u se borrara -->
</MainLayout>
