---
import FormulariomikrotikBlockSharingHotspot  from "../components/mikrotik-block-sharing-hotspot/formulario";
import MainLayout from "../layout/MainLayout.astro";
---

<MainLayout title="RMicrotik">
  <div class="flex flex-col py-10 space-y-5">
    <div class="bg-gray-800 rounded-lg">
      <!-- Header -->
      <div class="text-center mb-6">
<h1 class="text-2xl lg:text-4xl   font-extrabold text-transparent bg-clip-text animated-gradient bg-gradient-to-r from-amber-400 via-orange-700 to-red-600">
            BLOQUEAR EL REPARTO DE CONEXIÓN EN HOTSPOT O RED LOCAL CON 'CHANGE TTL' EN MIKROTIK
        </h1>

  <p class="text-gray-300">
        Evita que los usuarios compartan su conexión del Hotspot o red local (por cable o Wi-Fi) hacia otros dispositivos usando la técnica de Change TTL (Time To Live) en MikroTik. <br>Este método impide que se hagan "puentes" o repartan Internet sin autorización.
        </p>
 <style>
     /* Animación personalizada para mover el degradado */
    @keyframes gradientMove {
      0% { background-position: 0% 50%; }
      50% { background-position: 100% 50%; }
      100% { background-position: 0% 50%; }
    }

    .animated-gradient {
      background-size: 200% 200%;
      animation: gradientMove 5s ease infinite;
    }
  </style>
      </div>
      <!-- Diagrama -->
   
    </div>

    <!-- Contenido inicio -->
    <div class="bg-gray-800 rounded-lg mx-4">
      <!-- Contenido Principal -->
      <div class="container mx-auto">
        <!-- Formulario Principal -->
        <FormulariomikrotikBlockSharingHotspot  client:load />
      </div>
    </div>
  </div>
</MainLayout>