---
import FormulariomikrotikChangeMacAddress from "../components/mikrotik-change-mac-address/formulario";
import MainLayout from "../layout/MainLayout.astro";

---

<MainLayout title="RMicrotik">
  <div class="flex flex-col py-10 space-y-5">
    <div class="bg-gray-800 rounded-lg">
      <!-- Header -->
      <div class="text-center mb-6">
<h1 class="text-2xl lg:text-4xl   font-extrabold text-transparent bg-clip-text animated-gradient bg-gradient-to-r from-amber-400 via-orange-700 to-red-600">
          CAMBIAR O ALEATORIZAR DIRECCIÓN MAC EN INTERFACES MIKROTIK
        </h1>

  <p class="text-gray-300">
         Cambiar o generar direcciones MAC aleatorias en interfaces MikroTik con scripts avanzados y fáciles de implementar. Mejora la seguridad, evita conflictos de red y optimiza<br> tu infraestructura ISP/WISP con esta potente herramienta automatizada. Ideal para administradores de red que buscan soluciones profesionales y eficientes.
        </p>
 <style>
     /* Animación personalizada para mover el degradado */
    @keyframes gradientMove {
      0% { background-position: 0% 50%; }
      50% { background-position: 100% 50%; }
      100% { background-position: 0% 50%; }
    }

    .animated-gradient {
      background-size: 200% 200%;
      animation: gradientMove 5s ease infinite;
    }
  </style>
      </div>
    </div>

    <div class="bg-gray-800 rounded-lg shadow-lg p-6 mx-4 my-8">
      <!-- Contenido inicio -->
      <!-- Diagrama -->
      <div class="flex justify-center mb-2">
        <img
          src="/images/mikrotik-mac-address.png"
          alt="Routing Diagram"
          class="rounded-lg"
        />
      </div>

      <!-- Contenido inicio -->
      <div class="bg-gray-800 rounded-lg mx-4">
        <!-- Contenido Principal -->
        <div class="container mx-auto">
          <!-- Formulario Principal -->
          <FormulariomikrotikChangeMacAddress client:load />
        </div>
      </div>
    </div>
  </div>
</MainLayout>
