---
import FormularioMikrotikBurstLimitCalculator from "../components/mikrotik-burst-limit-calculator/formulario";
import MainLayout from "../layout/MainLayout.astro";
---

<MainLayout title="Open Book">
    <div class="flex flex-col py-10 space-y-5">
        <div class="bg-gray-800 rounded-lg">
            <!-- Header -->
            <div class="text-center mb-6">
                <h1 class="text-2xl lg:text-4xl font-bold text-orange-500">
                    MIKROTIK BURST LIMIT CALCULATOR FOR ROUTER-OS
                </h1>
                <p class="text-gray-300">
                    PRECIO DE SUSCRIPCIÓN. ¡Fácil, rápido y efectivo! 🚀
                </p>
            </div>
        </div>

        <div class="bg-gray-800 rounded-lg mx-4">
            <!-- Contenido Principal -->
            <div class="container mx-auto">
                <!-- Formulario Principal -->
                <FormularioMikrotikBurstLimitCalculator client:load />
            </div>
        </div>
    </body>
</MainLayout>
