---
import MainLayout from "../layout/MainLayout.astro";
---

<MainLayout title="Open Book">
  <body
    class="bg-gray-900 text-white font-sans min-h-screen flex items-center justify-center"
  >
    <div class="bg-gray-800 rounded-lg shadow-lg p-6 mx-4 my-8">
      <!-- Contenido -->
      <!-- Header -->
      <!-- Título -->
      <div class="text-center mb-6">
        <h1 class="text-2xl lg:text-4xl font-bold text-orange-500">              
            MIKROTIK PCQ (PER-CONNECTION-QUEUE) GENERATOR FOR QUEUE TREE AND QUEUE SIMPLE
        </h1>
        <p class="text-gray-300 mt-4">
          PRECIO DE SUSCRIPCIÓN. ¡Fácil, rápido y efectivo! 🚀
        </p>
      </div>
    </div>
    <div class="bg-gray-800 rounded-lg shadow-lg p-6 mx-4 my-8">
      <!-- Contenido inicio -->
  
      <div class="container mx-auto p-6 bg-gray-800 rounded-lg shadow-lg">
        <!-- Título -->

        <!-- Formulario Principal -->
        <form class="grid grid-cols-1 lg:grid-cols-2 gap-6">
            <!-- Columna Izquierda -->
            <!-- Contenedor borde azul -->

            <div class="space-y-6">
                <!-- Selección de RouterOS -->
           
                <div class="text-gray-950 shadow-2xl rounded-lg p-6 w-full ring-2 ring-blue-500">

                <div>
          
                 
                    <div>
                      <label
                          for="gateway"
                          class="block font-semibold text-gray-300 mb-2 mt-4"
                          >Queue Option
                      </label>
           

                    <select
                    id="routeros"
                    class="w-full p-2 rounded bg-gray-700 text-white focus:outline-none focus:ring-2 focus:ring-orange-500"
                >
                    <option value="v6.xx"
                        >Queue Tree</option
                    >
                    <option value="v7.xx"
                        >Queue Simple</option
                    >
                </select>
                  </div>
                  <div>
                    <label
                      for="wan1"
                      class="block text-sm font-semibold text-gray-300 my-2"
                      >Parent Name Queue</label
                    >
                    <input
                      id="wan1"
                      type="text"
                      placeholder="GLOBAL-CONNECTION "
                      class="w-full bg-gray-800 border border-gray-600 rounded p-2 focus:outline-none focus:ring-2 focus:ring-orange-500"
                    />
                  </div>
                </div>

                <!-- Gateway del ISP -->
              
                       <!-- Opciones Avanzadas -->
                   <!-- WAN ISP and Gateways -->
                   <div class="grid grid-cols-1 sm:grid-cols-2 gap-4 mt-4">
                    <div>
                      <label
                        for="wan1"
                        class="block text-sm font-semibold text-gray-300"
                        >Sub Queue Upload</label
                      >
                      <input
                        id="wan1"
                        type="text"
                        placeholder="Subida"
                        class="w-full bg-gray-800 border border-gray-600 rounded p-2 focus:outline-none focus:ring-2 focus:ring-orange-500"
                      />
                    </div>
                    <div>
                      <label
                        for="gateway1"
                        class="block text-sm font-semibold text-gray-300"
                        >Sub Queue Download</label
                      >
                      <input
                        id="gateway1"
                        type="text"
                        placeholder="Descarga"
                        class="w-full bg-gray-800 border border-gray-600 rounded p-2 focus:outline-none focus:ring-2 focus:ring-orange-500"
                      />
                    </div>
                  </div>
             <!-- WAN ISP and Gateways -->
             <div class="grid grid-cols-1 sm:grid-cols-2 gap-4 mt-4">
                <div>
                  <label
                    for="wan1"
                    class="block text-sm font-semibold text-gray-300"
                    >Upload Max-Limit</label
                  >
                  <input
                    id="wan1"
                    type="text"
                    placeholder="5M"
                    class="w-full bg-gray-800 border border-gray-600 rounded p-2 focus:outline-none focus:ring-2 focus:ring-orange-500"
                  />
                </div>
                <div>
                  <label
                    for="gateway1"
                    class="block text-sm font-semibold text-gray-300"
                    >Download Max-Limit</label
                  >
                  <input
                    id="gateway1"
                    type="text"
                    placeholder="10M"
                    class="w-full bg-gray-800 border border-gray-600 rounded p-2 focus:outline-none focus:ring-2 focus:ring-orange-500"
                  />
                </div>
              </div>

                <!-- Gateway del ISP -->
                <label
                for="routeros"
                class="font-semibold text-gray-300 mb-2 h-14 bg-gradient-to-r from-blue-900 to-blue-500 rounded-t-lg grid gap-4 place-items-center mt-5"
                >Setup PCQ Custom Name and Rate for limit Client</label
            >
            <!-- WAN ISP and Gateways -->
            <div class="grid grid-cols-1 sm:grid-cols-2 gap-4 mt-4">
              <div>
                <label
                  for="wan1"
                  class="block text-sm font-semibold text-gray-300 my-2"
                  >PCQ Upload Name</label
                >
                <input
                  id="wan1"
                  type="text"
                  placeholder="PCQ-Up"
                  class="w-full bg-gray-800 border border-gray-600 rounded p-2 focus:outline-none focus:ring-2 focus:ring-orange-500"
                />
              </div>
              <div>
                <label
                  for="gateway1"
                  class="block text-sm font-semibold text-gray-300 my-2"
                  >PCQ Download Name</label
                >
                <input
                  id="gateway1"
                  type="text"
                  placeholder="PCQ-Down"
                  class="w-full bg-gray-800 border border-gray-600 rounded p-2 focus:outline-none focus:ring-2 focus:ring-orange-500"
                />
              </div>
            </div>
                <!-- Gateway del ISP -->
     <!-- WAN ISP and Gateways -->
     <div class="grid grid-cols-1 sm:grid-cols-2 gap-4">
      <div>
        <label
          for="wan1"
          class="block text-sm font-semibold text-gray-300 my-2"
          >PCQ Up Limit / Client</label
        >
        <input
          id="wan1"
          type="text"
          placeholder="1M"
          class="w-full bg-gray-800 border border-gray-600 rounded p-2 focus:outline-none focus:ring-2 focus:ring-orange-500"
        />
      </div>
      <div>
        <label
          for="gateway1"
          class="block text-sm font-semibold text-gray-300 my-2"
          >PCQ Down Limit / Client</label
        >
        <input
          id="gateway1"
          type="text"
          placeholder="2M"
          class="w-full bg-gray-800 border border-gray-600 rounded p-2 focus:outline-none focus:ring-2 focus:ring-orange-500"
        />
      </div>
    </div>
         <!-- WAN ISP and Gateways -->
    
             <!-- WAN ISP and Gateways -->
     
            <div class="text-gray-300"><input type="checkbox" id="game1" class="mr-2 my-4"><label for="game1" >Auto set PCQ for full Bandwidth Shared</label></div>

         
                <!-- Gateway del ISP -->
            
 
                </div>

                <!-- Selección de Juegos -->
        
   
                <div class="flex flex-wrap justify-center gap-4 mb-6 mt-7">
                  <button
                    class="text-white px-4 py-2 rounded-md transition ease-in-out delay-150 bg-gray-600 hover:-translate-y-1 hover:scale-110 hover:bg-slate-700 duration-300"
                  >
                    Generar Script
                  </button>
                  <button
                    class="text-white px-4 py-2 rounded-md transition ease-in-out delay-150 bg-orange-500 hover:-translate-y-1 hover:scale-110 hover:bg-orange-600 duration-300"
                  >
                  Borrar Todo
                  </button>
          
             
                </div>
          

            </div>

            <!-- Columna Derecha -->
       
              <div class="text-gray-950 shadow-2xl rounded-lg p-6 w-full ring-2 ring-blue-500">
  
               <!-- Script Generator Section -->
        <div class="bg-gray-700 p-4 rounded-lg flex flex-col">
          <label class="block text-sm font-semibold mb-2 text-gray-300"
            >Script Generator Result</label
          >
          <textarea
            class="flex-grow bg-gray-800 border border-gray-600 rounded p-2 focus:outline-none focus:ring-2 focus:ring-orange-500 text-gray-400"
            placeholder="Please Login and Subscribe .."
            readonly></textarea>
          <div class="flex mt-4 space-x-4">
            <button
            class="text-white px-4 py-2 rounded-md transition ease-in-out delay-150 bg-green-500 hover:-translate-y-1 hover:scale-110 hover:bg-teal-600 duration-300"
          >
            Copiar Todo
          </button>
          
        
            
          </div>
        </div>
            </div>
        </form>
    </div>
</div>


      
    <!-- Contenido Fin -->
  </body>

  <!-- Contenido Fin Aqui para abajo es otro codigo q u se borrara -->
</MainLayout>
