---
import MikrotikForm from "../components/mikrotik-hide-my-router-from-isp/formulario";
import MainLayout from "../layout/MainLayout.astro";
---

<MainLayout title="Open Book">
  <div class="flex flex-col py-10 space-y-5">
    <div class="bg-gray-800 rounded-lg">
      <!-- Header -->
      <div class="text-center mb-6">
        <h1 class="text-2xl lg:text-4xl font-bold text-orange-500">
          MIKROTIK NINJA : HIDE ROUTERBOARD INFO FROM ISP / WAN SCANNING
        </h1>
        <p class="text-gray-300">Facil y confiable</p>
      </div>
    </div>

    <div class="bg-gray-800 rounded-lg mx-4">
      <!-- Contenido Principal -->
      <div class="container mx-auto">
        <div class="flex justify-center mb-2">
          <img
            src="/images/mikrotik-hide-my-router-from-isp.png"
            alt="Routing Diagram"
            class="rounded-lg"
          />
        </div>

        <!-- Formulario Principal -->
        <MikrotikForm client:load />
      </div>
    </div>
  </div>
</MainLayout>
