---
import FormularioMikrotikPortForwardGenerator from "../components/mikrotik-port-forward-generator/formulario";
import MainLayout from "../layout/MainLayout.astro";
---

<MainLayout title="Open Book">
  <div class="flex flex-col py-10 space-y-5">
    <div class="bg-gray-800 rounded-lg">
      <!-- Header -->
      <div class="text-center mb-6">
        <h1 class="text-2xl lg:text-4xl font-bold text-orange-500">
          Port Forwarding with NAT
        </h1>
        <p class="text-gray-300">
          Port Forwarding en segundos. Optimiza tu red, Direccionamiento de
          aplicaciones y paquetes. ¡Fácil, rápido y efectivo! 🚀
        </p>
      </div>
    </div>

    <div class="bg-gray-800 rounded-lg mx-4">
      <!-- Contenido inicio -->
      <div class="container mx-auto">
        <!-- Diagrama -->
        <div class="flex justify-center mb-8 mt-8">
          <img src="/images/NAT.png" alt="Routing Diagram" class="rounded-lg" />
        </div>

        <FormularioMikrotikPortForwardGenerator client:load />
        <!-- Contenido Fin -->
      </div>
    </div>

    <!-- Contenido Fin Aqui para abajo es otro codigo q u se borrara -->
  </div>
</MainLayout>
