---
import MainLayout from "../layout/MainLayout.astro";
---

<MainLayout title="Open Book">
    <body
        class="bg-gray-900 text-white font-sans min-h-screen flex items-center justify-center"
    >
        <div class="bg-gray-800 rounded-lg shadow-lg p-6 mx-4 my-8">
            <!-- Contenido -->
            <!-- Header -->
            <!-- Título -->
            <div class="text-center mb-6">
                <h1 class="text-2xl lg:text-4xl font-bold text-orange-500">
                    LOAD BALANCING PCC LB PCC CALCULATION
                </h1>
                <p class="text-gray-300 mt-4">
                    PRECIO DE SUSCRIPCIÓN. ¡Fácil, rápido y efectivo! 🚀
                </p>
            </div>
        </div>
        <div class="bg-gray-800 rounded-lg shadow-lg p-6 mx-4 my-8">
            <!-- Contenido inicio -->

            <!-- dddddd -->
            <div class="grid grid-cols-1 lg:grid-cols-2 gap-6">
                <!-- Tabla del formulario -->

                <div
                    class="text-gray-950 shadow-2xl rounded-lg p-6 w-full ring-2 ring-blue-500"
                >
                    <div class="overflow-x-auto rounded-t-lg">
                        <table
                            class="table-auto w-full border-spacing-2 border-slate-600"
                        >
                            <thead>
                                <tr class="bg-gray-700 text-gray-200">
                                    <th class="border-slate-700 p-2 border"
                                        >WAN-1 Speed</th
                                    >
                                </tr>
                            </thead>

                            <tbody>
                                <tr class="text-gray-800">
                                    <td class="border-slate-700 p-2 border">
                                        <div class="rounded-t-lg">
                                            <select
                                                id="ros-version"
                                                class="w-full p-2 rounded bg-gray-700 text-white focus:outline-none focus:ring-2 focus:ring-orange-500"
                                            >
                                                <option value="v6.xx"
                                                    >10 Mbps</option
                                                >
                                                <option value="v7.xx"
                                                    >20 Mbps</option
                                                >
                                                <option value="v7.xx"
                                                    >30 Mbps</option
                                                >
                                                <option value="v7.xx"
                                                    >40 Mbps</option
                                                >
                                                <option value="v7.xx"
                                                    >50 Mbps</option
                                                >
                                                <option value="v7.xx"
                                                    >100 Mbps</option
                                                >
                                            </select>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    
                    
                    </div>
                    <div class="overflow-x-auto rounded-t-lg mt-4">
                        <table
                            class="table-auto w-full border-spacing-2 border-slate-600"
                        >
                            <thead>
                                <tr class="bg-gray-700 text-gray-200">
                                    <th class="border-slate-700 p-2 border"
                                        >WAN-2 Speed</th
                                    >
                                </tr>
                            </thead>

                            <tbody>
                                <tr class="text-gray-800">
                                    <td class="border-slate-700 p-2 border">
                                        <div class="rounded-t-lg">
                                            <select
                                                id="ros-version"
                                                class="w-full p-2 rounded bg-gray-700 text-white focus:outline-none focus:ring-2 focus:ring-orange-500"
                                            >
                                                <option value="v6.xx"
                                                    >10 Mbps</option
                                                >
                                                <option value="v7.xx"
                                                    >20 Mbps</option
                                                >
                                                <option value="v7.xx"
                                                    >30 Mbps</option
                                                >
                                                <option value="v7.xx"
                                                    >40 Mbps</option
                                                >
                                                <option value="v7.xx"
                                                    >50 Mbps</option
                                                >
                                                <option value="v7.xx"
                                                    >100 Mbps</option
                                                >
                                            </select>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                     
                        <button
                            class=" w-full text-white px-4 py-2 mt-4 rounded-md transition ease-in-out delay-150 bg-orange-500 hover:-translate-y-1 hover:scale-110 hover:bg-orange-600 duration-300"
                        >
                           Calcular
                        </button>
                    
                        <div class="bg-gray-700 p-4 rounded-lg mt-6 mb-4 mx-8">
                            <p class="text-sm text-gray-300">
                                Tenemos un video tutorial de como utilizar
                                nuestra herramienta, Ver Video...
                            </p>
                        </div>
                        <!-- Diagrama -->
                        <div class="flex justify-center mb-8 mt-8">
                            <img
                                src="/images/NAT.png"
                                alt="Routing Diagram"
                                class="rounded-lg"
                            />
                        </div>
                    </div>
                </div>

                <!--Tabla Formulario -->

                <!-- Form Section -->
                <div class="bg-gray-700 p-4 rounded-t-lg">
                    <form class="space-y-4">
                        <!-- Dropdowns -->

                        <!-- Script Generator Section -->

                        <!-- Burst Limit Table -->

                        <h3 class="text-xl font-bold text-gray-100 mb-4">
                            LB PCC CALCULATION RESULT
                        </h3>
                        <div class="overflow-x-auto rounded-t-lg">
                            <table class="table-auto w-full border-spacing-2">
                                <thead>
                                    <tr class="bg-gray-100 text-gray-200">
                                        <th
                                            class="bg-gray-800 text-gray-200 p-2 border-separate"
                                            >WAN Identity</th
                                        >
                                        <th
                                            class="bg-gray-800 text-gray-200 p-2 border-separate"
                                            >WAN Speed (Mbps)</th
                                        >
                                        <th
                                            class="bg-gray-800 text-gray-200 p-2 border-separate"
                                            >Best Ratio (Mbps)</th
                                        >
                                        <th
                                            class="bg-gray-800 text-gray-200 p-2 border-separate"
                                            >Best Ratio (Mbps)</th
                                        >
                                    </tr>
                                    <tbody>
                                        <tr>
                                            <td
                                                class="p-2 border text-slate-300"
                                                >WAN-1</td
                                            >
                                            <td
                                                class="p-2 border text-green-500 font-bold"
                                                >10 Mbps</td
                                            >
                                            <td
                                                class="p-2 border text-green-500 font-bold"
                                                >10</td
                                            >
                                            <td
                                            class="p-2 border text-green-500 font-bold"
                                            >1</td
                                        >
                                        </tr>
                                        <tr>
                                            <td
                                                class="p-2 border text-slate-300"
                                                >WAN-2</td
                                            >
                                            <td
                                                class="p-2 border text-blue-500 font-bold"
                                                > 	10 Mbps</td
                                            >
                                            <td
                                                class="p-2 border text-blue-500 font-bold"
                                                >10</td
                                            >
                                            <td
                                            class="p-2 border text-blue-500 font-bold"
                                            >1</td
                                        >
                                        </tr>
                                        <tr>
                                            <td
                                                class="p-2 border text-slate-300"
                                                >Total Calculate</td
                                            >
                                            <td
                                                class="p-2 border text-purple-500 font-bold"
                                                ></td
                                            >
                                            <td
                                                class="p-2 border text-purple-500 font-bold"
                                                >10+10 = 10+10</td
                                            >
                                            <td
                                                class="p-2 border text-purple-500 font-bold"
                                                >2</td
                                            >
                                        </tr>
                                  
                                
                                    </tbody>
                                    <thead >
                                        <tr class="bg-gray-100 text-gray-200 ">
                                            <th
                                                class="bg-gray-800 text-gray-200 p-2 border-separate"
                                                >Marking Connection</th
                                            >
                                            <th
                                                class="bg-gray-800 text-gray-200 p-2 border-separate"
                                                >Denominator / Remainder</th
                                            >
                                            <th
                                                class="bg-gray-800 text-gray-200 p-2 border-separate"
                                                >Ratio In (Mbps)</th
                                            >
                                        </tr>
                                        <tr>
                                            <td
                                                class="p-2 border text-slate-300"
                                                >WAN-1</td
                                            >
                                            <td
                                                class="p-2 border text-violet-400 font-bold"
                                                >2/0</td
                                            >
                                            <td
                                                class="p-2 border text-violet-400 font-bold"
                                                >10Mbps</td
                                            >
                                        </tr>
                                        <tr>
                                            <td
                                                class="p-2 border text-slate-300"
                                                >WAN-2</td
                                            >
                                            <td
                                                class="p-2 border text-sky-400 font-bold"
                                                >2/1</td
                                            >
                                            <td
                                                class="p-2 border text-sky-400 font-bold"
                                                >10Mbps</td
                                            >
                                        </tr>
                                        <tr>
                                            <td
                                                class="p-2 border text-slate-300"
                                                >Possible Speed Balance</td
                                            >
                                            <td
                                                class="p-2 border text-sky-400 font-bold"
                                                ></td
                                            >
                                            <td
                                                class="p-2 border text-sky-400 font-bold"
                                                >20Mbps</td
                                            >
                                        </tr>
                                    </thead>

                                 
                                    <!-- Contenido Fin -->
                                </thead>

                                <!-- Contenido Fin Aqui para abajo es otro codigo q u se borrara -->
                            </table>
                        </div>
                    </form>
                </div>
            </div>
        </div></body
    ></MainLayout
>
