---
import FormularioPcc from "../components/pcc/formulario";
import MainLayout from "../layout/MainLayout.astro";
---

<MainLayout title="Open Book">
  <div class="flex flex-col py-10 space-y-5">
    <div class="bg-gray-800 rounded-lg">
      <!-- Header -->
      <div class="text-center mb-6">
        <h1 class="text-2xl lg:text-4xl font-bold text-orange-500">
          MikroTik PCC / Generador de scripts PCC de balanceo de carga para
          RouterOS
        </h1>
      </div>
    </div>

    <div class="bg-gray-800 rounded-lg mx-4">
      <!-- Contenido Principal -->
      <div class="container mx-auto">
        <!-- Formulario Principal -->
        <FormularioPcc client:load />

        <p class="text-2sm text-orange-500 mt-5">
          MikroTik LB PCC / Load Balancing PCC Script Generator for RouterOS
        </p>

        <p class="text-gray-400">
          /ip firewall nat remove [find comment="Balanceo PCC"] <br />
          /ip route remove [find comment="Balanceo PCC"]<br />
          /ip firewall mangle remove [find comment="Balanceo PCC"] <br />
          /ip firewall address-list remove [find comment="Balanceo PCC"]<br />
          /routing table remove [find comment="Balanceo PCC"]
        </p>

        <div class="bg-gray-700 p-4 rounded-lg mt-5">
          <p class="text-sm text-gray-300">
            Tenemos un video tutorial de como utilizar nuestra herramienta, Ver
            Video...
          </p>
        </div>
      </div>
    </div>
  </div>
</MainLayout>
