---
import FormularioPolicyBasedRoutingWebsite from "../components/policy-based-routing-website/formulario";
import MainLayout from "../layout/MainLayout.astro";
import { getAuthData } from "../utils/auth";
import { nameApp } from "../utils/constants";
// Obtener los datos de la sesión y suscripción
const { session, subscription, shouldSignOut } = await getAuthData(
  Astro.request,
);

// Si necesita cerrar sesión, redirigir a logout
if (shouldSignOut) {
  return Astro.redirect("/logout?reason=expired");
}
---

<MainLayout title={nameApp}>
  <div class="flex flex-col py-10 space-y-5">
    <div class="bg-gray-800 rounded-lg">
      <!-- Header -->
      <div class="text-center mb-6">
        <h1
          class="text-2xl lg:text-4xl font-extrabold text-transparent bg-clip-text animated-gradient bg-gradient-to-r from-amber-400 via-orange-700 to-red-600"
        >
          RUTEO ESTÁTICO POR IP PARA SITIOS WEB
        </h1>

        <p class="text-gray-300">
          Dirige el tráfico de sitios web específicos a través de la conexión
          que elijas usando ruteo estático por IP. Ideal para garantizar <br
          />mayor velocidad, control de ancho de banda o separar la navegación
          del resto del tráfico de red
        </p>
      </div>
    </div>

    <div class="bg-gray-800 rounded-lg mx-2">
      <!-- Contenido Principal -->
      <div class="container mx-auto">
        <div class="flex justify-center mb-2">
          <img
            src="/images/traficoseparados.png"
            alt="Routing Diagram"
            class="rounded-lg"
          />
        </div>

        <!-- Formulario Principal -->
        <FormularioPolicyBasedRoutingWebsite
          client:load
          client:load
          session={session}
          subscription={subscription}
        />
      </div>
    </div>
  </div>
</MainLayout>
<style>
  /* Animación personalizada para mover el degradado */
  @keyframes gradientMove {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }

  .animated-gradient {
    background-size: 200% 200%;
    animation: gradientMove 5s ease infinite;
  }
</style>
