---
import MainLayout from "../layout/MainLayout.astro";
---

<MainLayout title="Open Book">
  <body
    class="bg-gray-900 text-white font-sans min-h-screen flex items-center justify-center"
  >
    <div class="bg-gray-800 rounded-lg shadow-lg p-6 mx-4 my-8">
      <!-- Contenido -->
      <!-- Header -->
      <!-- Título -->
      <div class="text-center mb-6">
        <h1 class="text-2xl lg:text-4xl font-bold text-orange-500">
          Games Static Routing Using Mangle Port
        </h1>
        <p class="text-gray-300 mt-4">
          configuración de enrutamiento estático en una red, donde se usan
          reglas de Mangle para marcar o modificar paquetes según su puerto.
          Esto permite dirigir o priorizar el tráfico de juegos o aplicaciones
          específicas, controlando cómo se manejan los datos en función de
          puertos particulares, sin necesidad de ajustes dinámicos en el
          enrutamiento.
        </p>
      </div>
    </div>
    <div class="bg-gray-800 rounded-lg shadow-lg p-6 mx-4 my-8">
      <!-- Contenido inicio -->

      <div class="container mx-auto p-6 bg-gray-800 rounded-lg shadow-lg">
        <!-- Título -->

        <div
          class="container mx-auto p-6 bg-gray-800 rounded-lg shadow-lg max-w-5xl"
        >
          <!-- Título -->
          <div class="text-center mb-6"></div>

          <!-- Diagrama -->
          <div class="flex justify-center mb-8">
            <img
              src="/public/images/traficoseparados.png"
              alt="Routing Diagram"
              class="rounded-lg"
            />
          </div>

          <!-- Formulario Principal -->
          <form class="grid grid-cols-1 lg:grid-cols-2 gap-8">
            <!-- Columna Izquierda -->
            <div class="space-y-6">
              <!-- IP Gateway -->
              <div>
                <label
                  for="gateway"
                  class="block font-semibold text-orange-400 mb-2"
                  >IP Gateway ISP</label
                >
                <input
                  id="gateway"
                  type="text"
                  placeholder="e.g.: 192.168.2.1"
                  class="w-full p-2 rounded bg-gray-700 text-white focus:outline-none focus:ring-2 focus:ring-orange-500"
                />
              </div>

              <!-- Routing Mark -->
              <div>
                <label
                  for="routing-mark"
                  class="block font-semibold text-orange-400 mb-2"
                  >Routing Mark</label
                >
                <input
                  id="routing-mark"
                  type="text"
                  placeholder="e.g.: Streaming"
                  class="w-full p-2 rounded bg-gray-700 text-white focus:outline-none focus:ring-2 focus:ring-orange-500"
                />
              </div>
            </div>

            <!-- Columna Derecha -->
            <div class="space-y-6">
              <!-- Opciones Avanzadas -->
              <div>
                <label
                  for="regexp"
                  class="block font-semibold text-orange-400 mb-2"
                  >Advanced Regexp Options</label
                >
                <div class="grid grid-cols-2 gap-4">
                  <input
                    type="text"
                    id="first-regexp"
                    placeholder="First Regexp"
                    class="p-2 rounded bg-gray-700 text-white focus:outline-none focus:ring-2 focus:ring-orange-500"
                  />
                  <input
                    type="text"
                    id="last-regexp"
                    placeholder="Last Regexp"
                    class="p-2 rounded bg-gray-700 text-white focus:outline-none focus:ring-2 focus:ring-orange-500"
                  />
                </div>
              </div>
              <!-- ROS Version -->
              <div>
                <label
                  for="ros-version"
                  class="block font-semibold text-orange-400 mb-2"
                  >ROS Version</label
                >
                <select
                  id="ros-version"
                  class="w-full p-2 rounded bg-gray-700 text-white focus:outline-none focus:ring-2 focus:ring-orange-500"
                >
                  <option value="v6.xx">RouterOS v6.xx</option>
                  <option value="v7.xx">RouterOS v7.xx</option>
                </select>
              </div>
            </div>
          </form>
          <!-- Gestión de Dominios -->
          <div>
            <label class="block font-semibold text-orange-400 mb-2"
              >Domain Management</label
            >
            <div class="space-y-2">
              <div class="flex items-center">
                <input
                  type="text"
                  value="youtube.com"
                  class="w-full p-2 rounded bg-gray-700 text-white focus:outline-none focus:ring-2 focus:ring-orange-500 mr-2"
                />
                <button
                  type="button"
                  class="bg-red-500 hover:bg-red-600 text-white py-2 px-4 rounded"
                  >Remove</button
                >
              </div>
              <!-- Agregar más dominios -->
            </div>
            <button
              type="button"
              class="mt-4 bg-orange-500 hover:bg-orange-600 text-white py-2 px-4 rounded mb-4"
            >
              Add New Domain Name
            </button>
            <button
              class="bg-gray-600 text-white px-4 py-2 rounded hover:bg-gray-700 transition"
              >Borrar Todo</button
            >
          </div>
          <div class="bg-gray-700 p-4 rounded-lg flex flex-col">
            <label class="block text-sm font-semibold mb-2 text-gray-300"
              >Script Generator Result</label
            >
            <textarea
              class="flex-grow bg-gray-800 border border-gray-100 rounded p-2 focus:outline-none focus:ring-2 focus:ring-orange-500 text-gray-400"
              placeholder="Please Login and Subscribe .."
              readonly></textarea>
            <div class="flex mt-4 space-x-4"></div>
          </div>
          <!-- Botones -->
          <div class="flex justify-center gap-4 mt-8 mb-4">
            <button
              type="button"
              class="bg-orange-500 hover:bg-orange-600 text-white py-2 px-4 rounded"
              >Generate Script</button
            >
            <button
              type="button"
              class="bg-green-500 hover:bg-green-600 text-white py-2 px-4 rounded"
              >Copy All Script</button
            >
          </div>
          <div class="bg-gray-700 p-4 rounded-lg flex flex-col">
            <label class="block text-sm font-semibold mb-2 text-gray-300"
              >Script Generator Result</label
            >
            <textarea
              class="flex-grow bg-gray-800 border border-gray-600 rounded p-2 focus:outline-none focus:ring-2 focus:ring-orange-500 text-gray-400"
              placeholder="Please Login and Subscribe .."
              readonly></textarea>
            <div class="flex mt-4 space-x-4">
              <button
                class="bg-gray-600 text-white px-4 py-2 rounded hover:bg-gray-700 transition"
                >Borrar Todo</button
              >
            </div>
          </div>

          <!-- Contenido Fin -->
        </div>

        <!-- Contenido Fin Aqui para abajo es otro codigo q u se borrara -->
      </div>
    </div>
  </body></MainLayout
>
