---
import MainLayout from "../layout/MainLayout.astro";
---

<MainLayout title="Open Book">
  <body
    class="bg-gray-900 text-white font-sans min-h-screen flex items-center justify-center"
  >
    <div class="bg-gray-800 rounded-lg shadow-lg p-6 mx-4 my-8">
      <!-- Contenido -->
      <!-- Header -->
      <!-- Título -->
      <div class="text-center mb-6">
        <h1 class="text-2xl lg:text-4xl font-bold text-orange-500">
          Desbloquear el modo de frecuencia inalámbrica de Mikrotik
        </h1>
        <p class="text-gray-300 mt-4">
          Modo de frecuencia inalámbrica de Mikrotik
        </p>
      </div>
    </div>
    <div class="bg-gray-800 rounded-lg shadow-lg p-6 mx-4 my-8">
      <!-- Contenido inicio -->

      <div class="container mx-auto p-6 bg-gray-800 rounded-lg shadow-lg">
        <!-- Título -->

        <div
          class="container mx-auto p-6 bg-gray-800 rounded-lg shadow-lg max-w-5xl"
        >
          <!-- Gestión de Dominios -->
          <div>
            <p class="text-gray-300 mt-4 text-justify">
              Algunos distribuidores de Mikrotik en cada país suelen seguir
              ciertos requisitos para establecer reglas estándar como "modo de
              frecuencia inalámbrica", "país", "ganancia de antena", "modo dfs",
              y este estándar también parece aplicarse en varios países. Y
              normalmente para abrir la frecuencia de bloqueo se puede hacer
              mediante netinstall, pero este método es bastante complicado.
              Bueno, para que sea más fácil, simplemente compartiré el archivo,
              así que tendré que usarlo directamente más tarde. <br> <br> Como siempre,
              todo lo que tienes que hacer es arrastrar y soltar el archivo
              "routeros-open-lock.npk", luego simplemente reiniciar el enrutador
              Mikrotik.  No te preocupes, el archivo está a salvo de malware y
              virus, porque el archivo fue creado por mí mismo, no está sucio de
              ningún sitio 🙂. <br>

              <br />
              <span class="font-bold"> Nota: </span> si hay algún problema con Mikrotik,
              ¡no soy responsable!
            </p>
          </div>
          <!-- Diagrama -->
          <div class="flex justify-center mb-8 mt-10">
            <img
              src="/public/images/unlock-mikrotik-wireless-frequency-mode.png"
              alt="Routing Diagram"
              class="rounded-lg"
            />
          </div>

          <!-- Contenido Fin -->
        </div>

        <!-- Contenido Fin Aqui para abajo es otro codigo q u se borrara -->
      </div>
    </div>
  </body></MainLayout
>
