---
import FormularioVpnTunnelAllTrafficScriptGenerator from "../components/vpn-tunnel-all-traffic-script-generator/formulario";
import MainLayout from "../layout/MainLayout.astro";
---

<MainLayout title="Open Book">
  <div class="flex flex-col py-10 space-y-5">
    <div class="bg-gray-800 rounded-lg">
        <!-- Header -->
        <div class="text-center mb-6">
            <h1 class="text-2xl lg:text-4xl font-bold text-orange-500">
              All Traffic to VPN Tunnel
            </h1>
            <p class="text-gray-300">
              All Traffic to VPN Tunnel. ¡Fácil, rápido y efectivo! 🚀
            </p>
        </div>
    </div>

    <div class="bg-gray-800 rounded-lg mx-4">
        <!-- Contenido Principal -->
        <div class="container mx-auto">
            <!-- Formulario Principal -->
            <FormularioVpnTunnelAllTrafficScriptGenerator client:load />

            <p class="text-2sm text-orange-500 mt-6">
              Este script sirve para Eliminar todos los Scripts de este Generador.
            </p>
            <p class="text-gray-400">
              /interface pptp-client remove [find comment="VPN Tunel"] <br />
              /interface l2tp-client remove [find comment="VPN Tunel1"]<br />
              /ip route remove [find comment="VPN Tunel"] <br />
              /ip firewall nat remove [find comment="VPN Tunel"]<br />
              
            </p>
            <div class="bg-gray-700 p-4 rounded-lg mt-6">
              <p class="text-sm text-gray-300">
                Tenemos un video tutorial de como utilizar nuestra herramienta, Ver
                Video...
              </p>
            </div>
        </div>
    </div>
</div>
</MainLayout>
