---
import FormularioVpnGameGenerator2 from "../components/vpn-game-generator2/formulario";
import MainLayout from "../layout/MainLayout.astro";
---

<MainLayout title="Open Book">
    <div class="flex flex-col py-10 space-y-5">
        <div class="bg-gray-800 rounded-lg">
            <!-- Header -->
            <div class="text-center mb-6">
        <h1 class="text-2xl lg:text-4xl   font-extrabold text-transparent bg-clip-text animated-gradient bg-gradient-to-r from-amber-400 via-orange-700 to-red-600">
          SCRIPTS PARA JUEGOS CON RUTEO ESTÁTICO VÍA VPN (POR DIRECCIÓN IP)
        </h1>

  <p class="text-gray-300">
        Redirige el tráfico de juegos online a través de un túnel VPN utilizando rutas estáticas basadas en las IP públicas de los servidores de juego. <br>Esta técnica garantiza menor latencia, evita bloqueos geográficos y mejora la estabilidad de la conexión para tus usuarios.
        </p>
 <style>
     /* Animación personalizada para mover el degradado */
    @keyframes gradientMove {
      0% { background-position: 0% 50%; }
      50% { background-position: 100% 50%; }
      100% { background-position: 0% 50%; }
    }

    .animated-gradient {
      background-size: 200% 200%;
      animation: gradientMove 5s ease infinite;
    }
  </style>
            </div>
        </div>

        <div class="bg-gray-800 rounded-lg mx-4">
            <!-- Contenido Principal -->
            <div class="container mx-auto">
                <!-- Formulario Principal -->
                <FormularioVpnGameGenerator2 client:load />
            </div>
        </div>
    </div>

</MainLayout>
