name: Docker Image CI - RMikrotik

on:
  push:
    branches:
      - master

jobs:
  build-and-deploy-astro:
    if: github.ref == 'refs/heads/master'
    runs-on: ubuntu-latest
    environment: front-end

    env:  
      HOST: ${{ secrets.HOST }}
      PUBLIC_BASE_URL_API: ${{ secrets.PUBLIC_BASE_URL_API }}

      GITHUB_CLIENT_ID: ${{ secrets._GITHUB_CLIENT_ID }}
      GITHUB_CLIENT_SECRET: ${{ secrets._GITHUB_CLIENT_SECRET }}

      GOOGLE_CLIENT_ID: ${{ secrets.GOOGLE_CLIENT_ID }}
      GOOGLE_CLIENT_SECRET: ${{ secrets.GOOGLE_CLIENT_SECRET }}

      AUTH_SECRET: ${{ secrets.AUTH_SECRET }}
      AUTH_TRUST_HOST: ${{ secrets.AUTH_TRUST_HOST }}

    steps:
      - name: Checkout código
        uses: actions/checkout@v3

      - name: Verificar cambios en front-end
        id: check-frontend
        uses: dorny/paths-filter@v2
        with:
          filters: |
            frontend: 
              - 'front-end/**'

      - name: Salir si no hay cambios en front-end
        if: steps.check-frontend.outputs.frontend == 'false'
        run: exit 0

      - name: Crear archivo .env
        if: steps.check-frontend.outputs.frontend == 'true'
        run: |
          cat > front-end/.env <<EOL
          HOST="${{env.HOST}}"
          PUBLIC_BASE_URL_API="${{env.PUBLIC_BASE_URL_API}}"

          GITHUB_CLIENT_ID="${{env.GITHUB_CLIENT_ID}}"
          GITHUB_CLIENT_SECRET="${{env.GITHUB_CLIENT_SECRET}}"

          GOOGLE_CLIENT_ID="${{env.GOOGLE_CLIENT_ID}}"
          GOOGLE_CLIENT_SECRET="${{env.GOOGLE_CLIENT_SECRET}}"

          AUTH_SECRET="${{env.AUTH_SECRET}}"
          AUTH_TRUST_HOST="${{env.AUTH_TRUST_HOST}}"
          EOL

      - name: Verificar archivo .env
        if: steps.check-frontend.outputs.frontend == 'true'
        run: cat front-end/.env

      - name: Creando y ejecutando contenedor Astro JS
        if: steps.check-frontend.outputs.frontend == 'true'
        run: docker compose -f front-end/docker-compose.yml up --build -d

  build-and-deploy-spring-boot:
    if: github.ref == 'refs/heads/master'
    runs-on: ubuntu-latest
    environment: back-end

    env:
      SERVER_PORT: ${{ secrets.SERVER_PORT }}
      SPRING_APPLICATION_NAME: ${{ secrets.SPRING_APPLICATION_NAME }}
      SPRING_DATASOURCE_DRIVER_CLASS_NAME: ${{ secrets.SPRING_DATASOURCE_DRIVER_CLASS_NAME }}
      SPRING_DATASOURCE_PASSWORD: ${{ secrets.SPRING_DATASOURCE_PASSWORD }}
      SPRING_DATASOURCE_URL: ${{ secrets.SPRING_DATASOURCE_URL }}
      SPRING_DATASOURCE_USERNAME: ${{ secrets.SPRING_DATASOURCE_USERNAME }}
      SPRING_JPA_DATABASE_PLATFORM: ${{ secrets.SPRING_JPA_DATABASE_PLATFORM }}
      SPRING_JPA_HIBERNATE_DDL_AUTO: ${{ secrets.SPRING_JPA_HIBERNATE_DDL_AUTO }}
      SPRING_JPA_PROPERTIES_HIBERNATE_FORMAT_SQL: ${{ secrets.SPRING_JPA_PROPERTIES_HIBERNATE_FORMAT_SQL }}
      SPRING_JPA_SHOW_SQL: ${{ secrets.SPRING_JPA_SHOW_SQL }}
      SPRING_MVC_THROW_EXCEPTION_IF_NO_HANDLER_FOUND: ${{ secrets.SPRING_MVC_THROW_EXCEPTION_IF_NO_HANDLER_FOUND }}
      SPRING_SERVER_TYPE: ${{ secrets.SPRING_SERVER_TYPE }}
      SPRING_WEB_RESOURCES_ADD_MAPPINGS: ${{ secrets.SPRING_WEB_RESOURCES_ADD_MAPPINGS }}

    steps:
      - name: Checkout código
        uses: actions/checkout@v3

      - name: Verificar cambios en back-end
        id: check-backend
        uses: dorny/paths-filter@v2
        with:
          filters: |
            backend: 
              - 'back-end/**'

      - name: Salir si no hay cambios en back-end
        if: steps.check-backend.outputs.backend == 'false'
        run: exit 0

      - name: Crear archivo application.properties
        if: steps.check-backend.outputs.backend == 'true'
        run: |
          cat > back-end/src/main/resources/application.properties <<EOL
          server.port=${{env.SERVER_PORT}}
          spring.application.name=${{env.SPRING_APPLICATION_NAME}}
          spring.server.type=${{env.SPRING_SERVER_TYPE}}
          spring.mvc.throw-exception-if-no-handler-found=${{env.SPRING_MVC_THROW_EXCEPTION_IF_NO_HANDLER_FOUND}}
          spring.web.resources.add-mappings=${{env.SPRING_WEB_RESOURCES_ADD_MAPPINGS}}

          spring.datasource.url=${{env.SPRING_DATASOURCE_URL}}
          spring.datasource.username=${{env.SPRING_DATASOURCE_USERNAME}}
          spring.datasource.password=${{env.SPRING_DATASOURCE_PASSWORD}}
          spring.datasource.driver-class-name=${{env.SPRING_DATASOURCE_DRIVER_CLASS_NAME}}

          spring.jpa.database-platform=${{env.SPRING_JPA_DATABASE_PLATFORM}}
          spring.jpa.hibernate.ddl-auto=${{env.SPRING_JPA_HIBERNATE_DDL_AUTO}}
          spring.jpa.show-sql=${{env.SPRING_JPA_SHOW_SQL}}
          spring.jpa.properties.hibernate.format_sql=${{env.SPRING_JPA_PROPERTIES_HIBERNATE_FORMAT_SQL}}
          EOL

      - name: Verificar archivo .env
        if: steps.check-backend.outputs.backend == 'true'
        run: cat back-end/src/main/resources/application.properties

      - name: Creando y ejecutando contenedor SprintBoot
        if: steps.check-backend.outputs.backend == 'true'
        run: docker compose -f back-end/docker-compose.yml up --build -d
